[2019-03-21 03:54] riscait opened #1 "initial commitを行う"
Xcodeでプロジェクトを作成し、GitHubにプッシュする。

アプリ名: Stepippo

[2019-03-21 05:06] riscait opened #2 "Issue templateを追加する"
issueを追加するときに選択可能なテンプレートを設定する。

GitHubリポジトリページのSettings -> Features -> Issues -> Set up template
から追加できます。

これを追加すると、Issue登録時にテンプレートを選べるようになります。
複数追加可能

[2019-03-21 05:08] riscait opened #3 "PR templateを追加する"
Pull Requestを作成するときに使うテンプレートファイルを追加設定する。

[2019-03-21 05:50] riscait opened #4 "Swiftコーディング規約を決める"
話し合いながら、必要だと思ったものを追加していきましょう〜！
今後の資産にもなるので、ある程度溜まったらWikiページにまとめるのも良さそうです。

## コーディングルール
- インデントはXcode標準(スペース4個)で統一する。（control + i で整形できます）

## 実装ルール
- ViewControllerのファイル・クラス名はVCと略す e.g. ExampleVC(.swift)
- TableViewCell, CollectionViewCellのクラス名は XXXCellとする e.g. ExampleCell(.swift)

## [必読] 他所のコーディングスタイル
### GitHubのSwift Style Guide 日本語訳版
https://github.com/jarinosuke/swift-style-guide/blob/master

[2019-03-21 13:43] riscait opened #5 "Xcodeプロジェクトを作成してコミット・プッシュする"
最小限のプロジェクトを作成してコミット

[2019-03-23 07:12] #5 closed, assigned to riscait

[2019-03-23 07:33] riscait opened #6 "[Github] URLとTopicsを設定する"
1. EditからこのリポジトリのURLを追加
2. Manege topicsでこのリポジトリのTopics（タグのようなもの）を追加する
例: ios, swift

<img width="1015" alt="スクリーンショット 2019-03-23 16 29 08" src="https://user-images.githubusercontent.com/8737743/54863188-e981ce00-4d88-11e9-92e6-9fc4d1a02db7.png">

[2019-03-23 07:46] #1 closed, assigned to riscait

[2019-03-23 07:59] riscait opened #7 "[GitHub]ReadMeファイルを追加する"
何を書くのかは要相談？

追加後は、適宜全員で書き換えていく…！
<img width="1015" alt="スクリーンショット 2019-03-23 16 57 18" src="https://user-images.githubusercontent.com/8737743/54863525-028c7e00-4d8d-11e9-8f3d-6b3108914eb6.png">

[2019-03-24 06:10] yamatatsu10969 opened #8 "git ignore を追加する"
git ignoreを入れる練習を誰かができれば良いなと思い作成しました！

[2019-03-24 06:11] yamatatsu10969 commented on #8
もうあったーwww
どうやって消すんだ？😶

[2019-03-24 06:12] yamatatsu10969 commented on #8
見つけた。
Close and comment　だ。
Closeします〜

[2019-03-24 06:12] #8 closed, assigned to nobody

[2019-03-24 06:16] yamatatsu10969 opened #9 "test タグ付けの練習"
なるほどね！
右にある
Assignees　→　誰がやるか　複数人も可能
Labels →　タグ付けみたいなもん　複数選択可能
Projects →　カテゴリわけ　これは複数いけるのか？
Milestone　→　作成したら、出てくるんだな。締め切りとかを入れるんだろうな。
なるほど。

[2019-03-24 06:17] yamatatsu10969 commented on #9
練習完了。
大丈夫そう！

[2019-03-24 06:17] #9 closed, assigned to riscait, yamatatsu10969

[2019-03-24 06:17] riscait commented on #8
起票ありがとうございます！
深く考えずにコピペで追加してしまっていましたー＞＜
これもIssue化すべきでしたね＞＜

[2019-03-24 06:21] yamatatsu10969 commented on #8
これ絵文字も追加できるんですね！よいですね〜。
一人でgit ignoreはなかなか難しい印象だったんで、練習できたらよかったですね笑
全然OKです！作成ありがとうございます。
projectないと始まりませんからね〜！

[2019-03-29 04:49] ghost opened #10 "GitHubからStepippo-iOSリポジトリをCloneしてXcodeで開くことができる"

[2019-03-29 06:12] riscait commented on #10
@red-hot-y
Issue作成ありがとうございます！

[2019-03-29 06:14] riscait commented on #10
当リポジトリをCloneしてXcodeで開けることを確認しました！
@YamaTatsu10969 さんはすでに完了されましたので、
@red-hot-y さんと @eyener3 さんがCloneしてXcodeで開くことができれば、
このチケットはCloseできます😊👍

[2019-03-30 06:50] riscait commented on #2
### 機能追加・改善のテンプレート
デフォルトLabel: enhancement(機能)
[code]

### バグレポートのテンプレート
デフォルトLabel: bug(不具合)
[code]

### タスクやリファクタリングのテンプレート
[code]

[2019-03-31 00:10] riscait opened #11 "[Xcode]プロジェクト設定を行う"
- [x] Deployment Target (対象のiOSバージョン)
→ 11.0（最新バージョンとその一つ前のバージョンを対象にする）
- [x] Version（バージョン）
→ 1.0.0（初回リリース）
- [x] Devices（対象デバイス）
→ iPhone
- [x] Device Orientation（許可するiPhoneの向き）
→ Portrait（縦持ち）のみ
<img width="962" alt="スクリーンショット 2019-03-31 9 06 47" src="https://user-images.githubusercontent.com/8737743/55283054-d7a9b780-5394-11e9-9df0-8e2d1cda3817.png">
<img width="1083" alt="スクリーンショット 2019-03-31

[2019-03-31 01:41] riscait opened #12 "[Xcode] ファイルのフォルダ分けを行う"
### Xcodeプロジェクトのフォルダ構成を整理する
チーム開発するにあたり、フォルダの構成を整理整頓しておきたい。

★付きは新規作成フォルダ

- [Stepippo]
  - [Stepippo]
    - [Classes]★
      - [Models]★
      - [Views]★
        - LaunchScreen.storyboard
        - main.storyboard
      - [Controllers]★
        - ViewController.swift
      - AppDelegate.swift
    - [Resources]★
      - Assets.xcassets
      - Info.plist

### フォルダの作り方
1. 作りたい場所で右クリック（または control +

[2019-04-01 02:08] ghost commented on #10
clone後起動確認しました。

[2019-04-01 03:49] eyener3 commented on #10
clone後起動確認しました！

[2019-04-02 13:27] yamatatsu10969 opened #14 "完了タスク・ストックタスク画面のFigmaで作成"

[2019-04-02 13:32] riscait opened #15 "[XD] その他画面の画面定義書を作成する"
# XD制作進捗
![4/3進捗 by Riscait](https://i.imgur.com/fHeUfc7.jpg)

[2019-04-02 13:38] eyener3 opened #16 "【XD】進捗画面の画面定義書を作成する"
残期間と残タスクを確認できるメイン画面

[2019-04-04 08:20] #7 closed, assigned to eyener3

[2019-04-04 11:11] eyener3 commented on #16
![スクリーンショット 2019-04-04 19 22 14](https://user-images.githubusercontent.com/45029154/55548800-4a0cf580-570f-11e9-81d2-4a1a98247537.png)

1. UI設計
MoneyFowardのUIを参考にしようかと。
※インジケーターが円グラフだったので模索中..
- 配色や画面遷移がすごく参考になる

2.配色・フォント
- 3色
   - 背景：白、メイン：緑or青系、差し色：赤かオレンジ
- フォント：まるくやわらい感じのを選ぶ

3.インジケーター
- ライブラリを少しアレンジして独自性を出す

4.ボタン
- チェック
- キャンセル
- 期間変更
   - 毎日
   - 毎週
   - 毎月
- タスク変更

[Project](https://github

[2019-04-04 12:25] riscait commented on #16
おお、すごい！Projectsのnote機能活用されてますね！
あいなーさんの采配で、Issueとして作ってくれてしまっても大丈夫ですからね🙆‍♂️
配色などなど楽しみです✨

[2019-04-04 13:06] riscait opened #19 "新機能案のリストアップ、気軽にみんなでコメント♪"
新機能の案が思いついたら、コメントで気軽に書き残していきましょう！
そして、v1.0.0リリース後、**次のアップデートではどの機能を入れようかー？**
とここを見て決められたらいいなと思っています👌

- [ ] 残りの挑戦数だけ、アプリアイコンにバッジを表示する機能
- [ ] ウィジェットに挑戦を表示する機能
- [ ] 残り挑戦数を通知する、ローカル通知機能
- [ ] 挑戦の記録として写真や動画投稿ができる
- [ ] 簡単なRPG要素（LevelUp）があると楽しそう
- [ ] シェアできる
- [ ] 同じジャンルの挑戦をしている人たちでグループが作れる
- [ ] iPadへの対応
- [ ] 横持ち(Landscape)への対応
- [ ] ユーザー登録（SNS認証？）
- [ ] 操作のチュートリアル（必要であれば..）
- [ ] スプラッシュ画面（アプリ立ち上げ時

[2019-04-04 13:06] riscait commented on #19
- 残りの挑戦数だけ、アプリアイコンにバッジを表示する機能
- ウィジェットに挑戦を表示する機能
- 残り挑戦数を通知する、ローカル通知機能

を思いつきました😊

[2019-04-04 14:36] eyener3 commented on #19
・挑戦の記録として写真や動画投稿ができる
・簡単なRPG要素（LevelUp）があると楽しそう
・シェアできたり、同じジャンルの挑戦をしている人たちでグループが作れる仕組みがあるとモチベになりそう

挑戦を継続することで自信にも繋がると思っているので、仲間やコミュニティの存在や自分以外へのアウトプット要素があるといいなと。

Studypulsや、みんチャレというアプリが好きで、その二つの仕組みは継続面でもいいなと感じますね^-^

難易度にもよると思いますので、
必ず次回のアップデートで、
というわけではないです^-^☀︎

[2019-04-04 16:21] eyener3 commented on #16
ありがとうございます^0^！
Issueを作るとなると、
わたし専用のものとして、になる感じですか？🙆‍♀️

[2019-04-04 23:38] riscait commented on #16
専用といえば専用ですね👍
アサイニーをあいなーさんにしていただければ大丈夫です🙆‍♂️

[2019-04-05 00:06] eyener3 commented on #16
承知しましたっ😊
ありがとうございます！^○^♪

[2019-04-05 01:09] eyener3 opened #21 "Realme(データベース)でのデータ読み書き"

[2019-04-05 01:10] eyener3 opened #22 "Stepippoの世界観を決める"

[2019-04-05 01:12] #22 closed, assigned to eyener3

[2019-04-05 10:35] yamatatsu10969 commented on #2
終了しました！

[2019-04-05 10:35] #2 closed, assigned to yamatatsu10969

[2019-04-05 13:30] riscait opened #24 "[Carthage]を使ってRealmライブラリを導入する"
### 必要性
ローカルデータベースにRealmSwiftを使用する

### 期待値
RealmSwiftをCarthageを使ってStepippoプロジェクトに組み込む。
エラーなくビルドすることができる

### タスク内容
- [x] Carthageをインストールして使えるようにする
- [x] RealmをCarthageを使って導入する
- [x] プロジェクトをビルドしてエラーがないことを確認する

### その他の情報
Carthage、Realm共に最新版(Latest)を使う。

### 参考URL・画像など
https://realm.io/docs/swift/latest
https://hirochan-blog5.com/2018/08/25/relam/
http://mtimsno.hatenablog.jp/entry/2017/04/23/15022

[2019-04-05 16:17] #12 closed, assigned to eyener3

[2019-04-06 01:03] riscait opened #26 "[Realm]挑戦を記録、読み込むプロトコルを作成する"
### 必要性
専用のプロトコルを作り、抽象化しておくことで以下のメリットがあります。

1. `import RealmSwift` する（依存する）クラスを減らすことができる
2. 今後、もしDBをRealmから他のサービスに乗り換えたとしても、専用プロトコルだけを書き換えれば良い（専用プロトコルをつくらないと、DBの読み書きを行なっている場所すべてで書き換えが必要

### プロトコル案
`BrandNewTryWriter`: 挑戦をDBに書き込むプロトコル
`BrandNewTryReader`: 挑戦をDBから読み込むプロトコル

### 参考URL・画像など
「挑戦」を英語でいうとChallenge? Try?
https://ameblo.jp/eibunpo/entry-11427563971.html
「新しい」の英語の言い方
http://upgradeourengl

[2019-04-06 10:31] eyener3 commented on #26
@Riscait
ありがとうございます^-^！

挑戦について、
Tryの方が意味としては
マッチしている感じですね^-^♪

新しいの英語の言い方も色々あるのですね💡
個人的に好きなのは、Updateという言葉が好きで、表現として、TryをUpdateする！みたい感じもいいなと思いました^-^

他の方の意見も聞いてみたいですね☺️

[2019-04-06 11:10] riscait commented on #26
@eyener3
ありがとうございます！✨

そうなんです、一応調べたらTryの方が英語的に合っている上に短いので良さそうです👍

Updateだと、`TryUpdateWriter` もしくは`UpdateTryWriter` って感じですかね？💡

意見たくさん聞きたいですね！
どんどん議論していきましょう😊

[2019-04-06 11:20] riscait commented on #19
・iPadへの対応
・横持ち(Landscape)への対応

優先度は低めですが、ゆくゆくはどんな比率の画面でも対応できるアプリにしたいですね✨

[2019-04-06 14:43] eyener3 commented on #26
すみません..><
ちょっと思い違いをしていたようでした^-^
管理者側の視点のお話だったのですね💡
Reaml,DB,プロトコルについて、まだあまり理解が深くないので
少し調べたりしてみて、またすぐに書き込みたいと思います^-^！

[2019-04-06 14:47] eyener3 commented on #16
以下、修正いたしました^-^！
- インジケーター
- テキスト
- フォント

https://xd.adobe.com/view/4a8c1654-681b-4ef3-59fb-130e4eeb3ed8-3cbd/

[2019-04-06 15:02] eyener3 commented on #19
Universal化、いいですねっ💡

[2019-04-06 17:09] eyener3 commented on #26
Realmについて調べていたら、
公式サイトを見つけました^-^
こちらを使って作成していくのでしょうか^-^
https://realm.io/

[2019-04-06 21:32] riscait commented on #26
@eyener3
僕たち側の話ですが、「挑戦」を英語で言うと…ということなので間違ってはいないかと(๑•̀ㅂ•́)و✧

肝心の公式サイト忘れてました！ありがとうございます😊
ドキュメントが丁寧に書かれているのでまた主にそちらを参考にしていくと思います💡
（日本語ドキュメントはちょっと古いから、最新版の英語情報と見比べながら）
プロトコルについては僕もやっと分かってきた、というくらい今まであまり使ってこなかったので僕も勉強しながらです(>_<)b

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-06 22:49] riscait commented on #16
おぉ、ボタンの囲みがついて分かりやすくなりましたね✨
インジケーターの修正もありがとうございます！

期間と残数のインジケーターの色が違う方が分かりやすいかもと思いました☺️
あと達成済みタスクは文字色をグレーにするのはどうでしょう？💡

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-07 05:48] eyener3 commented on #16
@Riscait
承知しました^-^

[2019-04-07 07:02] eyener3 commented on #16
あと達成済みタスクは文字色をグレーにするのはどうでしょう？💡

修正いたしましたっ
https://xd.adobe.com/view/4a8c1654-681b-4ef3-59fb-130e4eeb3ed8-3cbd/

[2019-04-07 08:19] riscait commented on #16
@eyener3
おぉっ色が分かれてさらに良いですね✨☺️

細切れですみません…！
残り期間のラベルは「残り〜%」ではなく「残り何日」と表示した方が分かりやすいと思いました💡
最終日は「今日まで」とか表示できたらなお良いですね🧐
もし、「残り〜%」と表示させるとしたらインジケーターにかぶせて表示するとそれっぽいかも？

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-07 08:59] eyener3 commented on #16
承知しました
ありがとうございます^-^

[2019-04-07 09:17] eyener3 commented on #16
修正しました💡
https://xd.adobe.com/view/a954a8e0-41be-4553-44e3-d2bd4d147e2d-df65/

[2019-04-07 09:20] riscait commented on #16
@eyener3
ありがとうございます！早い！
ドメインを契約できるようになってる✨良いですね🎉

[2019-04-07 09:26] eyener3 commented on #16
@Riscait
ありがとうございます^-^
ドメイン契約ができるようになってるというのは、どこで判断できるのでしょうか？🤔💡

[2019-04-07 09:29] riscait commented on #16
@eyener3
「ドメインを契約する」のチェックボタンが押せるようになってる！という意味です^^b
何もないところを押すと青く光って教えてくれます💡

[2019-04-07 10:06] eyener3 commented on #16
@Riscait
理解できましたっ☺️🙏

[2019-04-07 11:53] riscait opened #27 ".gitignoreを編集してCarthage/Checkoutsをignore対象にする"
gitignoreの`# Carthage/Checkouts`行のコメントアウトを解除して、`Carthage/Checkouts`もリポジトリに含めないようにする
https://github.com/yasasii-team/Stepippo-iOS/blob/f68bd6b2d2eaa5fe6575aae3890b691e25b7905c/.gitignore#L85

### 必要性
Carthage/Checkoutsのファイル群はリポジトリ上に含める必要性がないため

### 期待値
`# Carthage/Checkouts`のコメントアウトが解除され有効になっている

[2019-04-07 12:40] eyener3 commented on #16
ここのIssueのCloseのタイミングがあれば教えていただきたいです！🙇🏻‍♀️

[2019-04-07 12:41] eyener3 commented on #15
@Riscait
龍之介さん、
もう実装入っていますか？^-^💡

[2019-04-07 12:47] riscait commented on #16
今回は、各々自分でもう良いと思ったタイミングで実装入ることにしましょうか？
途中でまたこのIssueでの議論や実装が必要になったらReopon（復活）させることにして、Closeしちゃいましょうか😊

[2019-04-07 12:48] riscait commented on #15
@eyener3
僕はまだ実装入っていないです😊
それぞれ画面定義書が自分なりにもうOKと判断できる方は実装入っていきましょうか？

[2019-04-07 12:51] riscait commented on #15
あ、In Progress にしていなかった！
カンバン上で、In Progressにしました👍

[2019-04-07 12:57] eyener3 commented on #15
@Riscait
前回のMTGの時に、
ちょこっと実装入れる人は入る感じにしましょうか、とお話ししていた気がします^-^！
わたしはどちらでも大丈夫ですっ♪

[2019-04-07 13:01] eyener3 commented on #16
@eyener3
Close,Reoponについて
承知いたしましたっ

実装どうしたらいいでしょうかね
次回のMTG後からでも
ぜんぜんOKですっ^-^

[2019-04-07 13:01] riscait commented on #15
@yasasii-team/ios
そうですね！早いに越したことはないので、入れる方は入っちゃいましょう😊
実装入るにあたって、
順序を整理する＆周りから進捗が見やすくするためにも各員でIssueを作りましょうか？
例: （担当画面の）storyboardとそれに対応するUIViewControllerファイルを作成する
（実装は別Issueで行う）
みたいな感じで、細かく分けて😊👍

[2019-04-07 13:04] riscait commented on #16
画面定義書終わった方は実装入った方がいいかと思います👌😊
もしくは、その他のIssueをやるか💡

[2019-04-07 13:10] eyener3 commented on #16
承知しました^-^！
それは、一旦ここはCloseします^^💡

[2019-04-07 13:10] #16 closed, assigned to eyener3

[2019-04-07 14:24] riscait commented on #14
悩んでいるところは、「最近達成、今年達成、それ以降」があるんですけど、そこの色をどうしたらいいかな〜となっています。

Figma見ました！すぐ実装できそうな出来栄えですね✨
ちなみに、TableViewのsection header が太字で中央寄せなのは意図して配置していますか？😊

[2019-04-07 14:39] riscait opened #28 "[その他画面]storyboardとTableViewCell用のxibファイル、およびそれに対応したControllerファイルを作成する"
### 機能の必要性
その他画面の実装の第一歩
コーディングは別Issueで行う。あくまでメインはファイルの追加

### 実装の期待値
- Views
  - Misc.storyboard
  - MiscCell.xib
- Controllers
  - MiscVC.swift
  - MiscCell.swift

上記のファイルを正しいディレクト配下に追加できており、ビルドが通る状態になっている。

### 検討した実装案
XcodeのNew -> File から追加する

### 参考URL・画像・スクリーンショット

[2019-04-07 15:13] eyener3 opened #30 "進捗画面のstoryboardとそれに対応するUIViewControllerファイルを作成する （実装は別Issueで行う）"
### 必要性
実装の事前準備として。
### 期待値

- Views
  - Prog.storyboard
  -

- Controller
  - ProgVC.swift
  -

### タスク内容
- 上記4つのファイル作成

### その他の情報
Prog = Progress screen（進捗画面）という意味。

### 参考URL・画像など

[2019-04-07 15:29] riscait opened #31 "Swift 5 に対応（必要があれば既存コードの変換も）する"
### 必要性

- 最新のSwiftを使いたい
- 早めにやっておいた方が影響ファイルが少なくて楽
- Swift Conversion という警告⚠️が出てしまっている

### 期待値

1. 警告文の「Conversion to Swoft 5 is available」を押して、Convert（変換）する
2. 変換した後に、警告・エラーが出ていない

### その他の情報

### 参考URL・画像など

[2019-04-07 15:41] eyener3 commented on #31
行なってみました^-^
「現在のswift構文への変換に失敗しました
移行を試みる前に、選択されたすべてのターゲットが現在構成されているSwiftバージョンで正常にビルドされることを確認してください。」
というようなエラーが出てしまいました。
解決できるようにやってみます
https://swift.org/migration-guide-swift5/

[2019-04-08 01:03] riscait commented on #14
@YamaTatsu10969 なるほど！承知しました👌一度実装してみましょう☺️

[2019-04-08 01:07] riscait commented on #31
ありがとうございます！
@eyener3 アサインしておきました👌

試しにですが、僕のブランチでやってみたところ、「変換は必要ありません、続けますか？」的な正常メッセージが出ました。

Info.plistは繋ぎました？
何か環境が違うのかもしれませんね…🤔
（その他画面追加用ブランチで試したのであまり参考にならないですね💦）

参考URLありがとうございます！
Google翻訳して読まねば(๑•̀ㅂ•́)و

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-08 01:50] riscait commented on #27
@YamaTatsu10969
gitignore編集タスクです。やまたつさんお願いします👍！

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-08 05:10] #28 closed, assigned to riscait

[2019-04-08 06:09] eyener3 commented on #31
ありがとうございます^-^
エラー文をググると、『Steppipo/Info.plistになってるよ！存在しないよ！』という感じなので、Resouceに繋がっていないのが原因かもです..

XcodeやFinder上ではResouceに繋がっているように表示されていますが..><
念のためXcodeのバージョンも確認しました。

対処法を調べているのですが、
なかなか解決に至らずで..🙇🏻‍♀️💦

（ちなみに、この作業は一人一人が行なうissueになるのでしょうか？^-^）

[2019-04-08 06:15] riscait commented on #31
@eyener3
お、やはり！
Xcodeで、Targetを開き、アプリ名とかバージョンとかを変えられるところを…

とここまで書き気がついたんですが、そのリンクは僕が #29 で直しましたよね？

先程マスターにマージしたのでpullすれば反映されているかと思いますよ👌

（おそらく一人がやれば良いタスクかと思います👍）

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-08 06:33] eyener3 commented on #31
承知いたしました^-^

[2019-04-08 07:57] eyener3 commented on #31
@Riscait
アサインを龍之介さんに渡しました^0^

[2019-04-08 08:05] eyener3 commented on #31
最新のSwift5には設定できました。

一つだけ、教えていただきたいです><
こちらのエラーって、
皆さんも出ているのでしょうか？
![スクリーンショット 2019-04-08 17 01 17](https://user-images.githubusercontent.com/45029154/55708280-7d59c800-5a20-11e9-9271-a6742e565eef.png)

[2019-04-08 08:39] #21 closed, assigned to eyener3

[2019-04-08 08:43] riscait commented on #31
@eyener3
Info.plist修正前は出ていたような気がします！

どのブランチで作業していますか？🧐
最新のmasterブランチであれば多分出ないと思います😊👍

@YamaTatsu10969
やまたつさんの環境ではどうでしょう？？

[2019-04-08 09:31] eyener3 commented on #31
もう一度やってみます^^

[2019-04-08 09:48] eyener3 commented on #31
色々と調べてやってみたところ
無事、解決できました^-^

[2019-04-08 09:54] riscait commented on #31
@eyener3
おぉ、すごい！✨
プルリクエスト作成お待ちしています☺️

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-08 10:19] riscait opened #32 "ページ切り替え用ライブラリの選定"
### 必要性
マネーフォワードなどのスワイプしてVC内ページを切り替えるライブラリは何種類も存在する
どのライブラリが使いやすいか、優れているかをザッと比較して、すてぴっぽで使うライブラリを決定する

### 期待値
該当ライブラリを列挙し、優劣を挙げて比較する

### タスク内容
- [ ] 該当ライブラリを列挙する
- [ ] それぞれの利点・デメリットをまとめる
- [ ] 比較して、採用するライブラリを決定する

### その他の情報
ライブラリ管理にはできればCarthage、次点でCocoaPodsを使いたいと考えています。

### 参考URL・画像など

[2019-04-08 10:44] eyener3 commented on #31
ありがとうございます^-^
これもブランチ切る〜pushまでの流れになるのでしょうか？^-^

[2019-04-08 10:56] riscait commented on #31
そうです👌
作業するときは、
①masterをcheckoutする（masterでは作業したりコミットしない）
②git pullして最新にする
③作業ブランチを切る
がお決まりの流れになります👍

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-08 11:11] eyener3 commented on #31
理解できましたっ
ありがとうございます😊！

[2019-04-08 13:35] #31 closed, assigned to eyener3

[2019-04-08 14:00] riscait commented on #4
- ViewControllerのファイル・クラス名はVCと略す e.g. ExampleVC.swift
を追加しました👌

[2019-04-08 14:22] riscait opened #34 "[その他画面]の1ページ目を作る"
### 実装の期待値

1. storyboardでVCにTableViewを設置
2. xibファイルでセルを作り、
3. 各swiftファイルに実装を書く

### その他の情報
画面定義書 #15

### 参考URL・画像・スクリーンショット

[2019-04-08 14:38] riscait commented on #4
- インデントはXcode標準(スペース4個)で統一する。（control + i で整形できます）
- TableViewCell, CollectionViewCellのクラス名は XXXCellとする e.g. ExampleCell(.swift)
を追加しました👌

[2019-04-08 14:55] riscait opened #35 "[開発者全員] ライブラリ管理のためのCarthageをインストールする"
### 必要性
ライブラリのインストール・管理に必要です
※このIssueではXcodeは使用しません。Gitも必要ありません

### 期待値

- Homebewについてなんとなく分かる
- Carthageについてどんなものなのか各自調べてみる
- CarthageをMacにインストールし、使える環境にする

### タスク内容
- [x] Mac用パッケージマネージャーHomebrew（便利）をインストールする
https://brew.sh/index_ja
- [x] brewコマンドで、Carthageをインストールする
`$ brew install carthage`

参考URLの②まで終えられることがゴール

### 参考URL・画像など
https://qiita.com/fuwamaki/items/5e6e9c18e5a0b1d7199e

[2019-04-08 15:19] eyener3 opened #36 "実装前のファイル作成の流れをWikiにまとめる"
### 必要性

- 初心者にやさしい共同開発として誰もがわかる手順の記載が必要である。

- メンバー（主にPM）の負担を減らす目的もある。

### 期待値

- わからないことはWikiを見れば理解できるようになる。

- メンバー各自の負担の軽減

- はじめて開発に挑戦する人の心的ハードルを下げる

--
画像の反映がうまくされないので一時中断。

[2019-04-08 15:21] eyener3 opened #37 "ブランチ作成〜マージまでの流れをWikiにまとめる"
### 必要性

- 初心者にやさしい共同開発として誰もがわかる手順の記載が必要である。

- メンバー（主にPM）の負担を減らす目的もある。

### 期待値

- わからないことはWikiを見れば理解できるようになる。

- メンバー各自の負担の軽減

- はじめて開発に挑戦する人の心的ハードルを下げる

[2019-04-08 15:25] eyener3 opened #38 "画面設計書作成の流れをWikiにまとめる"
### 必要性

- 初心者にやさしい共同開発として誰もがわかる手順の記載が必要である。

- メンバー（主にPM）の負担を減らす目的もある。

### 期待値

- わからないことはWikiを見れば理解できるようになる。

- メンバー各自の負担の軽減

- はじめて開発に挑戦する人の心的ハードルを下げる

[2019-04-08 15:32] eyener3 opened #39 "開発全体の流れ・タスクをWikiにまとめる"
### 必要性

- 初心者にやさしい共同開発として誰もがわかる手順の記載が必要である。

- メンバー（主にPM）の負担を減らす目的もある。

- はじめに全体像をイメージすることで目指すべきゴールが明白になりやすい

### 期待値

- わからないことはWikiを見れば理解できるようになる。

- メンバー各自の負担の軽減

- はじめて開発に挑戦する人の心的ハードルを下げる

[2019-04-08 16:30] eyener3 opened #40 "GitHubの主な機能・用途についてWikiにまとめる"
### 必要性

- 初心者にやさしい共同開発として誰もがわかる手順の記載が必要である

- メンバー（主にPM）の負担を減らす目的

### 期待値

- GiHubの基本的なことが理解できるになる

- メンバー各自の負担の軽減

- はじめて開発に挑戦する人の心的ハードルを下げる

[2019-04-08 23:29] riscait commented on #36
とても良いですね！☺️
用意できたら、みんなにやさしくなりますね✨

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-09 02:44] riscait opened #42 "タスク(挑戦?)のデータ構造を考える"
### 必要性
ユーザーが選択し、実行する「タスク」
データベースに保存することになるが、どんなプロパティ(値)を持つべきか議論して決めていきたい。

### プロパティ候補

- 一意のID
- 名前
- 進捗状態(ストック・進行中・達成済み)
- 作成した日時
- 開始した日時
- 達成した日時

### 参考URL・画像など

[2019-04-09 03:03] eyener3 commented on #36
ありがとうございます^-^
少しずつ編集・修正していこうと思います💡

[2019-04-09 09:50] #3 closed, assigned to yamatatsu10969

[2019-04-10 05:41] riscait opened #44 "達成済みタスク・ストックしたタスク表示画面の構成を考えて必要なファイルを決める"
### 必要性
実装の事前準備として

### 期待値

- Views
  - .storyboard

- Controller
  - VC.swift

### タスク内容

### その他の情報

### 参考URL・画像など

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-10 10:06] yamatatsu10969 commented on #32
## 参照
https://qiita.com/jun1009/items/14ca3cc0ed458ff54bb1#yukiasaigecco-1727
https://qiita.com/susieyy/items/1f28531a1c58d9158896
https://qiita.com/0905Tom/items/3e305a2bd2bc57c663fa
http://animane.hatenablog.com/entry/2016/03/22/161644

[2019-04-10 10:20] riscait commented on #32
すごい！まとめ記事いいですね♪
今一番上の見てますが、個人開発アプリに入れたいのがたくさん、、🤤

[2019-04-10 14:49] #27 closed, assigned to yamatatsu10969

[2019-04-10 14:50] eyener3 commented on #42
データベースのプロパティについて調べてみましたが
あまりわからなかったので質問させてください^-^。

データベースのプロパティは
「ユーザーがアクションを起こした時に、
どういった値で、管理者側(？)にデータとして表示させるか」
という認識で相違ないでしょうか..？><

[2019-04-10 14:51] riscait commented on #35
龍之介、brew install carthage完了しました！

[2019-04-10 14:52] eyener3 commented on #35
完了いたしました^-^💡

[2019-04-10 14:59] riscait commented on #42
@eyener3 たぶんイメージはあってるかと思います！
データを表示させるかというよりも、
なんのデータを保存するか、です👌
データベースに何を記録するかを決めようってことですね😌

言葉にすると難しい…うまく伝わりましたかね？🧐

[2019-04-10 15:27] eyener3 opened #45 "進捗画面のライブラリ選定"
### 必要性
インジーケーターとチェックボタンにライブラリを使うため。

### 期待値
ライブラリを選定することにより、必要な機能を実現する。

### タスク内容
- 参考記事の洗い出し （良さげな記事を載せる）
- インジケーターのライブラリを決める
- チェックボタンのライブラリを決める

### その他の情報
参考記事はインジケーター・チェックボタンに関係ないものも多少含まれる。

### 参考URL・画像など

[2019-04-10 15:50] eyener3 commented on #45
【色んなiOSアプリが使っているオープンソースライブラリを調べた】
[https://qiita.com/inoue0426/items/d97a0bca18ec5f91d839](url)

【調べたiOSのオープンソースライブラリをリスト化してみました】
[http://smsurf.app-rox.com/iosl/](url)

【iOSとSwift用のリソースとライブラリのリスト。】
[https://github.com/Ramshandilya/iOSRepo](url)

【iOSライブラリをまとめてるサイトのまとめ】
[https://qiita.com/homyu/items/e36faf42e64577f76692](url)

インジケーターと検索すると、ローディングや円グラフのようなものしか出てこないので、
設計書のようなインジケーターのライブラリを、もう少し探す

[2019-04-10 17:23] eyener3 commented on #42
@Riscait
なんのデータを保存するか、ですね💡
ありがとうございます！
ばっちりイメージできましたっ

保存したデータベースは、
管理者側で見ることができるのですよね^-^
データを基に何か分析もするのでしょうか？
ただ、どのデータを取得するか、
というだけなのでしょうか^-^？

用途や目的によって、
少しわたしの意見が変わりそうだったので
再度、質問させていただきました^-^！

[2019-04-10 21:34] riscait commented on #42
@eyener3
良かった☺️

レルムで保存したデータは、各ユーザーのローカル（iPhone内）に保存されるので開発者が見ることはできません(o^^o)
なので分析はできないですね(＞＜)b

単に、アプリをKILLしてもデータを保持するのに使います👍

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-10 23:23] riscait opened #46 "SwiftLintを導入する"
**※要詳細**

### 必要性

### 期待値

### タスク内容
- [ ]
- [ ]
- [ ]

### その他の情報

### 参考URL・画像など
https://qiita.com/uhooi/items/bf888b53b4b8210108aa

[2019-04-10 23:25] riscait opened #47 "SwiftLintのルールを選定する"
### 必要性

### 期待値

### タスク内容
- [ ]
- [ ]
- [ ]

### その他の情報

### 参考URL・画像など

[2019-04-11 06:08] riscait commented on #4
メモ
switchでは、原則全ての要素を網羅し、defaultは使用しない
Swift 5 New! → @unknown defaultが使用できる

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-11 07:04] yamatatsu10969 commented on #32
# 該当ライブラリ
## xmartlabs/XLPagerTabStrip
**メリット**
日本語の参考資料がたくさんある。
表示方法が多数ある。通常のタブ、バーのみ、Twitter風、Segmentedなど。
既存のUIViewControllerを利用するため、Swiftのversion upの影響が少なそう（予測）

**デメリット**
特に見当たらない

## PageMenu
**メリット・デメリット**
ほぼXLPagerTabStripと変わらないくらい性能良さげ。

## ParallaxEffect
**メリット**
画面の切り替え時にはとても便利そう
**デメリット**
記事があまりない。
タブの切り替えには向いていない。
画面全体をペーシングするときには使えそう
### 参考
https://qiita.com/0905Tom/items/3e305a2bd2bc

[2019-04-11 07:05] #14 closed, assigned to yamatatsu10969

[2019-04-11 07:06] yamatatsu10969 commented on #32
@Riscait
レビュー？　お願いします！

[2019-04-11 10:18] riscait commented on #32
比較お疲れ様でした！とても分かりやすいです♪
XLPagerTabStripに決定了解です🙆‍♂️
僕の記事も懐かしいです、よく見つけましたね☺️笑

異論ありません！

[2019-04-11 10:19] #32 closed, assigned to yamatatsu10969

[2019-04-11 10:26] riscait opened #48 "Carthageを使い、XLPagerTabStripを導入する"
### 必要性
画面内ページ切り替えにXLPagerTabStripを使用する

### 期待値
XLPagerTabStripをCarthageを使ってStepippoプロジェクトに組み込む。
エラーなくビルドすることができる

### タスク内容
- [x] Carthageをインストールして使えるようにする(#35)
- [x] Carthageを使い、ライブラリをプロジェクトにインストールする
- [ ] プロジェクトをビルドしてエラーがないことを確認する

### その他の情報
Carthage、ライブラリは最新版(Latest)を使う。

### 参考URL・画像など

[2019-04-11 18:53] eyener3 commented on #46
![スクリーンショット 2019-04-12 03 31 59](https://user-images.githubusercontent.com/45029154/55982793-a0ac9d80-5cd4-11e9-8a75-9140a8b866d2.png)
↑ここまで上手くいきました^-^

以下を、これから行ないます。
![スクリーンショット 2019-04-12 03 39 27](https://user-images.githubusercontent.com/45029154/55982795-a30ef780-5cd4-11e9-81cd-3402d3ce7dc3.png)

"プロジェクトのルートディレクトリに .swiftlint.yml を作成"
ルートディレクトリ = 最初・最上位のディレクトリということは把握しました。

..となると、以下がルートディレク

[2019-04-11 19:03] #40 closed, assigned to eyener3

[2019-04-11 19:13] eyener3 commented on #42
@Riscait
ありがとうございます^-^
視覚的に確認するものではなく、あくまでも保存のお話しなのですね💡

アプリをKILLしたとしてもデータを保持する用途であれば
「進捗状態(ストック・進行中・達成済み)」が保存されるのはいいなと思いました^-^！

[2019-04-11 19:20] eyener3 commented on #45
インジケーターについて。
進捗の可視化のバーのことを
ProgressBar（プログレスバー）と呼ぶらしい。
![スクリーンショット 2019-04-12 04 19 16](https://user-images.githubusercontent.com/45029154/55985157-2e3ebc00-5cda-11e9-902f-924d92afcf8c.png)

ProgressBarが円形のものばかり。。
しかし、まっすぐの横棒をコーディングで円にしているとも書いてあった。
つまりは、円にしている部分のコードなしで考えたら、横棒になるのでは..？
（コーディングしながら変化を確かめてみる。）
[https://github.com/kentya6/KYCircularProgress](url)

※横棒の少しだけありました^-^
[https://www.cocoaco

[2019-04-11 19:35] eyener3 commented on #19
- ユーザー登録（SNS認証？）
- 操作のチュートリアル（必要であれば..）
- スプラッシュ画面（アプリ立ち上げ時の画面）

その他
- アプリのアイコンやロゴ

[2019-04-11 20:00] eyener3 commented on #45
ライブラリ、だいたい決まりました。

1.ProgressBar
[https://github.com/kentya6/KYCircularProgress](url)
[https://pippi-pro.com/swift-how-to-use-mbcircularprogressbar](url)

2.チェックボタン
[https://github.com/rizumita/CTCheckbox#license](url)
[https://github.com/rakaramos/OnOffButton](url)

3.ボタン（アニメーション付き）
[https://github.com/zoonooz/ZFRippleButton](url)

※ライセンスの条件付きのものもあるようです。
あまりわからないので、ライセンスについて調べてみる。

### **参考記事**
-

[2019-04-12 00:24] riscait commented on #45
お疲れ様です！
とても詳しく、ありがとうこざいます！
円形のものばかりなんですね〜🧐
後ほど僕も勉強のため詳しく見させてもらいます♪

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-12 00:27] riscait commented on #19
アプリアイコンとスプラッシュはv.1.0.0に必要ですね！issue作っちゃいましょうか👌

操作のチュートリアルも必要そうなら早めに入れたいですね(๑•̀ㅂ•́)و✧

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-12 01:59] riscait commented on #46
@eyener3
さっそくの実行ありがとうございます！

①これって #41 と同じブランチを使っていませんか？
基本別のIssueであれば別のブランチを最近のmasterから切って取りかからなくてはいけません。

②ymlファイルの作成、設定はおそらく好みによって変わってきますので、議論して詰めていきたいですね！各プロパティ（デフォルト設定）の意味など調べていただけると嬉しいですが、別Issue作りますね👌
追記: SwiftLintのルール選定(ymlファイルの中身）Issueはすでに作っていました
#47
こちらで行なっていきましょう！

③通常Xcodeプロジェクトのルートディレクトは `Xxx.xcodeproj` ど同じ階層となります🙆‍♂️
<img width="929" alt="スクリーンショット 2019-04-12 10 54 36" src="https://us

[2019-04-12 03:35] riscait commented on #4
参考
### GitHubのSwift Style Guide 日本語訳版
https://github.com/jarinosuke/swift-style-guide/blob/master/README_JP.md

[2019-04-12 07:04] riscait commented on #40
@eyener3
作成ありがとうございます！
@yasasii-team/ios
気づいたことあったら編集・追記するようにします！

[2019-04-12 07:14] riscait opened #49 "アプリのアイコンを作成する、または依頼する"
### 機能の必要性
アプリをリリースするにあたって必須

### 実装の期待値
正方形のアプリアイコンを作成できる

### 検討した実装案

1. メンバーのうち誰かが作成
2. SNSで募集して作成
3. 有料で依頼して作成

### その他の情報
正方形のアイコン

### 参考URL・画像・スクリーンショット
関連するURLやスクリーンショット、その他画像などがあればこちらに追加してください

[2019-04-13 19:02] riscait commented on #34
その他画面実装の進捗です👨‍💻
icon8のアイコン使ったら可愛い…！
（アイコンのサイズは25で表示）
<img src="https://user-images.githubusercontent.com/8737743/56087166-48c29200-5ea0-11e9-9eb9-e67092828e3d.png" width=300>

[2019-04-14 00:36] yamatatsu10969 commented on #44
# ファイル用意案
* Views
  * ShowIPPO.storyboard
* VC
  * ShowIPPOVC.swift

## 詳細画面追加時
* Views
  * ShowIPPO.storyboard
* VC
  * ShowIPPOVC.swift
  * ShowIPPODetailVC.swift

Viewsは同じ箇所で編集したいと思います。
@Riscait
現場ではどのように管理しているんですかね？
１つの画面に、１つのVCがいるイメージですかね？

[2019-04-14 00:50] riscait commented on #44
@YamaTatsu10969

現場によりますが、個人的にチーム開発では 1VC = 1storyboard が良いかな、と思います👍
今後、もしかしたら一覧画面と詳細画面で別の人が並行して作業したりするかもしれないので👌

`xxxList.storyboard` と `xxxDetail.storyboard`に分ける感じですかね😊

あ、確か使用するライブラリはそれぞれの画面をVCで用意するんでしたよね？
考えてみたんですが、
達成済みは `AchievedIPPO.*`、ストックは`StockedIPPO.*`という名前が良いかも？
と思いました👍

[2019-04-14 00:52] yamatatsu10969 commented on #35
やまたつ完了しました！

[2019-04-14 01:35] riscait opened #50 "TabBarControlloerを追加して最初に表示されるよう設定する"
1. 進捗画面 -> Prog.storyboard
2. タスク一覧画面  -> ListedIPPO.storyboard
3. その他画面 -> Misc.storyboard

### 機能の必要性
TabbarControllerを使うため、各画面と繋ぐ必要がある

### 実装の期待値

- [x] TabBarControllerによって、進捗画面が最初に表示される
- [x] IPPO一覧画面とその他画面もTabBarButtonをタップして表示することができる

### 検討した実装案

1. TabBarController.storyboardを追加する
2. storyboard reference で3storyboardと繋ぐ
3. 不要なViewControllerを削除する

### その他の情報

### 参考URL・画像・スクリーンショット

[2019-04-14 01:38] yamatatsu10969 commented on #48
@Riscait
ビルドは通るようになりましたが、立ち上げた瞬間にimage not found というエラーが出ます。。。
画面は立ち上がっているんですが。
なぜかがわからないです。。。

[code]

<img width="721" alt="スクリーンショット 2019-04-14 10 38 02" src="https://user-images.githubusercontent.com/43805056/56087216-66dcc200-5ea1-11e9-8f99-9a767ca6a81a.png">

[2019-04-14 01:45] riscait commented on #48
@YamaTatsu10969

ここらへんてもう完了済みですよね？
https://hirochan-blog5.com/2018/08/25/relam/
http://mtimsno.hatenablog.jp/entry/2017/04/23/150223

[2019-04-14 02:48] riscait opened #52 "[その他画面]週の開始曜日を選択できるActionSheetを実装する"
### 機能の必要性
人それぞれ何曜日から始めたいかは違うため

### 実装の期待値
「週の開始曜日」セルをタップすると、ActionSheetが表示されて曜日を選択できる

### 検討した実装案
didSelectRowメソッドでActionSheetを表示

### その他の情報
設定の記憶には、UserDefaultsを使用

### 参考URL・画像・スクリーンショット

[2019-04-14 02:52] riscait opened #53 "[その他画面]1日の開始時間を選択できる"
### 機能の必要性
人それぞれ何時から1日を始めたいか違うため

### 実装の期待値
「1日の開始時間」セルをタップすると開始時刻を選択できる

### 検討した実装案

1. didSelectRowメソッドでPickerをポップアップ表示して設定
2. didSelectRowメソッドで設定画面に進んでそこでPickerを用いて設定

どっちの方がいいだろ。ユーザーからしたら、画面遷移せずその場で設定できた方が良いかな？

### その他の情報
設定の記憶には、UserDefaultsを使用

### 参考URL・画像・スクリーンショット

[2019-04-14 02:57] riscait opened #54 "[その他画面]月の開始日を選択できる"
### 機能の必要性
人それぞれ何日を一月の開始日にしたいかは違うため

### 実装の期待値
「月の開始時日」セルをタップすると日付を選択できる

### 検討した実装案

1. didSelectRowメソッドでカレンダー的なUIをポップアップ表示して設定
2. didSelectRowメソッドで設定画面に進んでそこでカレンダー的なUIを用いて設定

どっちの方がいいだろ。ユーザーからしたら、画面遷移せずその場で設定できた方が良いかな？

例えば31日を選択したけど、30日しかない月の場合は、自動で30日にする？
それとも1日にする？
それをユーザーに選んでもらう？

### その他の情報
設定の記憶には、UserDefaultsを使用

### 参考URL・画像・スクリーンショット

[2019-04-14 04:47] riscait opened #55 "[その他画面]「開発リポジトリを見る」セルをタップで当リポジトリを表示する"
### 機能の必要性
開発進捗をOpenにしてユーザーがすぐ見れるようにする

### 実装の期待値
「開発リポジトリを見る」セルをタップでWeb画面を開く

### 検討した実装案

1. 当リポジトリTOPページを表示する
2. TOPページを表示するか、Issueページを表示するか選べる
***
1. WKWebView（内部ブラウザ）で表示するか
2. Safariに飛ばすか

### その他の情報

### 参考URL・画像・スクリーンショット

[2019-04-14 04:55] riscait opened #56 "[その他画面]アプリから機能リクエスト・不具合の報告ができるようにGitHubのAPIを調べる"
そもそも実現可能なのか？

### 機能の必要性
ユーザーが手軽に機能のリクエストや不具合報告ができると良さそう

### 実装の期待値
セルをタップすると、画面遷移し、機能の追加リクエスト、または不具合報告を送ることができる

### 検討した実装案
GitHubの公開APIを使う？

### その他の情報
GitHawkというアプリで同機能が使える

### 参考URL・画像・スクリーンショット

[2019-04-14 04:59] riscait opened #57 "[その他]やさしい会についての詳細画面を作成する"
### 機能の必要性
やさしい会を知ってもらう
iOSチーム開発者を知ってもらう

### 実装の期待値
詳細画面に遷移し、やさしい会とiOS開発チームについて詳しく知ることができる画面を用意する

### 検討した実装案
YasasiiKai.storyboard
YasasiiKaiVC.swift

### その他の情報

### 参考URL・画像・スクリーンショット

[2019-04-14 11:28] yamatatsu10969 commented on #44
考えてみたんですが、達成済みは AchievedIPPO.*、ストックはStockedIPPO.*という名前が良いかも？
と思いました👍

そうなんですね！実装方法は知らなかったです！それぞれの画面をVCで用意するのなら、龍之介さんのアイデアが良さそうです！作成いたします！

そうなんですね！現場のことも教えていただきありがとうございます！そちらでまずファイル作成を行います！

[2019-04-14 11:33] yamatatsu10969 commented on #44
## ファイル用意案
* Views
  * IPPOList.storyboard
  * IPPODetail.storyboard
* VC
  * AchievedIPPO.swift
  * StockedIPPO.swift

こちらでファイル作成します！

[2019-04-14 11:35] yamatatsu10969 commented on #44
こちらは、VCはつけなくても大丈夫ですかね？

[2019-04-14 11:37] yamatatsu10969 commented on #48
対象のファイルを選択(なお今回作成したライブラリは下記のディレクトリに保存される⇨Carthage/Build/iOS)

ここまでしかやっていませんでした！トライします！

[2019-04-14 12:17] riscait commented on #44
View ControllerにはVC付けましょう〜👍

Detail画面って、まだ実装しないですよね？

あと、二つの子VCをまとめる親VCが必要かと思います👌

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-15 01:28] yamatatsu10969 commented on #44
まだやらないので、後から追加することにします！

確かにそうですね。
親VCの名前どうしましょう。
現状の案では、ListedIPPOVC.swift にしようと思っています！

ファイル用意案
* Views
  * IPPOList.storyboard
  * (IPPODetail.storyboard)今回は追加しないが、後ほど実装する時に入れる。
* VC
  * ListedIPPOVC.swift (親)
  * AchievedIPPOVC.swift
  * StockedIPPOVC.swift

[2019-04-15 01:29] yamatatsu10969 opened #59 "達成済みタスク・ストックしたタスク表示画面の必要なファイルをプロジェクトに入れる"
### 機能の必要性
実装する前の必要ファイルのみを入れておくことで、他の人が自分の画面の実装をする時にそのファイルを編集できるようになるため。

### 実装の期待値
共同編集が可能になる。

### 検討した実装案
* Views
  * IPPOList.storyboard
* VC
  * ListedIPPOVC.swift
  * AchievedIPPOVC.swift
  * StockedIPPOVC.swift

### その他の情報
機能の提案に関するその他の情報

### 参考URL・画像・スクリーンショット
関連するURLやスクリーンショット、その他画像などがあればこちらに追加してください

[2019-04-15 09:39] riscait commented on #44
ListedIPPOVC良いと思います👍

1VC=1SBなら、
ListedIPPO.storyboard
AchievedIPPO.storyboard
StockedIPPO.storyboard
が必要ではないでしょうか？🧐

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-16 13:59] riscait opened #60 "[App Store Connect] v1.0.0のリリース申請を行う"
### タスクの必要性
App Storeにアプリを公開するため

### タスクの期待値
アップデートの手順を踏んで、アプリのリリースを申請できる

### タスクの内容
**アップロード**
- [ ] ビルドエラーがないことを確認し、アプリの動作確認を行う
- [ ] Product -> Archiveを行う
- [ ] ArchivesでValidate App を実行する
- [ ] ArchivesでDistribute App を実行する

**App Store Connect**
- [ ] ASCで新しいバージョンを作成する
- [ ] アップデート文を記入する
- [ ] 英語に翻訳して英語ページでもアップデート文を記入する
- [ ] Distribute Appにてアップロードされたビルドを選択し、審査提出する

アップロードとAppStore Connect、

[2019-04-16 14:02] #34 closed, assigned to riscait

[2019-04-16 16:09] eyener3 opened #61 "【Wiki】GitHubのPull requestをGitでcheckoutし、動作確認するためのやり方"
### 必要性

### 期待値

### タスク内容
- [ ]
- [ ]
- [ ]

### その他の情報

### 参考URL・画像など

[2019-04-16 16:10] #61 closed, assigned to eyener3

[2019-04-17 00:25] riscait commented on #61
ありがとうございます🙇‍♂️✨

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-17 03:05] riscait opened #62 "[XLPagerTabStrip]Carthageのライブラリ状況を全員合わせる[bootstrap]"
### 必要性
新しくcarthageにてライブラリがインストールされ、masterにマージされた場合、
ライブラリ依存に対応するために、全員ライブラリを手元でビルドする必要がある

(carthageでインストールしたビルド成果物そのものはリポジトリにpushしていないため)

### 期待値
エラーなくライブラリ使うことができる

### タスク内容
- [ ] 最新のmasterブランチで、「ライブラリがないよエラー」が出ることを確認する
- [ ] carthage bootstrap —platform iOS コマンドを実行
- [ ] エラーが消えてビルドできることを確認

### その他の情報

### 参考URL・画像など

[2019-04-17 12:58] #37 closed, assigned to eyener3

[2019-04-17 13:00] eyener3 commented on #36
画像の貼り付けに一手間かかりそうなので、他のタスクが落ち着いてから続きやります^-^

[2019-04-17 14:04] riscait opened #63 "[IPPO選択画面]必要なファイルを作成し、プロジェクトに追加する"
### 機能の必要性
円滑な共同開発のため、空のファイルをまず作成する

### 実装の期待値
GoalSetting.storyboard
GoalSettingVC.swift

のファイルが追加できている

[2019-04-17 14:10] riscait commented on #63
目標設定は英語でなんていうか調べたら、Goal setting と出てきました！

[2019-04-17 15:27] #45 closed, assigned to eyener3

[2019-04-18 14:15] #48 closed, assigned to yamatatsu10969

[2019-04-19 00:34] riscait commented on #52
![3414765E-DF28-4B66-A61A-B78162939A53](https://user-images.githubusercontent.com/8737743/56398931-3375ab00-6286-11e9-8a6f-0c45c4d71173.png)
アクションシートの実装まで行いました！
文言とかどうでしょうか？

[2019-04-19 01:35] eyener3 commented on #52
文言、デザイン、良いと思います^-^💡

[2019-04-19 12:18] riscait commented on #52
ありがとうございます😊
実装してPR作成しました！

[2019-04-19 12:53] riscait commented on #56
GitHub API の最新はv4

REST API ではなくGraphQLというものらしい
https://developer.github.com/v4/

ブラウザでAPIを叩ける
https://developer.github.com/v4/explorer/
<img width="1028" alt="スクリーンショット 2019-04-19 21 53 20" src="https://user-images.githubusercontent.com/8737743/56425029-94849980-62ed-11e9-810a-8f05adc91022.png">

[2019-04-19 13:11] #52 closed, assigned to riscait

[2019-04-19 13:19] yamatatsu10969 commented on #44
かしこまりました！作成いたします！

[2019-04-19 13:19] yamatatsu10969 commented on #44
その構成でPR出しますね！

[2019-04-19 13:37] yamatatsu10969 commented on #44
## ファイル用意案
* Views
  * (IPPODetail.storyboard)
  * ListedIPPO.storyboard
  * AchievedIPPO.storyboard
  * StockedIPPO.storyboard
* VC
  * (IPPODetailVC.swift)
  * ListedIPPOVC.swift (親)
  * AchievedIPPOVC.swift
  * StockedIPPOVC.swift

Detailは後から！！！

[2019-04-19 14:56] #63 closed, assigned to riscait

[2019-04-19 22:45] riscait opened #69 "[その他画面]GitHubのIssueを取得し、表示できる"
### 概要
Issueをバグ・機能追加の2種類に分け、以下を実現する

- [x] GitHubのAPIを叩き、Issue情報を取得する
- [x] 取得したIssueを一覧表示する

![GitHawk Upload by Riscait](https://i.imgur.com/PSpVEy2.jpg)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-20 03:27] #44 closed, assigned to yamatatsu10969

[2019-04-20 03:27] #59 closed, assigned to yamatatsu10969

[2019-04-20 04:53] riscait commented on #56
GitHub のAPIを使ったアプリの作成には以下の3種類の選択肢があるっぽい

- Webhooks
リポジトリの特定のイベント(push等)をトリガにして、その更新情報を設定先のサーバーなどに通知する形式。Organizationの単位で設定することも可能。受け取るのみで送信はできない。
- OAuth Apps
GitHubユーザーアカウントの認証情報を利用しGitHubリポジトリなどに対して操作を行う形式。
ユーザーがアクセス権限を失ったりアカウントを閉じてしまったりした場合は当然連携も終了する
OAuth Appsは「GitHubユーザー」が個人的に利用するアプリ/サイトには適していますが、チームで管理する「GitHubリポジトリ」のためのアプリとしてはちょっと問題をはらむ
- GitHub Apps
リポジトリに対するアクセスだけでなく、リポジトリにおけるイベントの発生も受け取

[2019-04-20 16:16] riscait opened #70 "達成済みIPPO表示画面を実装する"
### 機能の必要性
XLPagerTabStriperを使う前に、おそらく2VCそれぞれの画面を実装することになると思います。
（2つ作り終わったっらXLPagerTabStriperでまとめる）

### 実装の期待値
画面定義書を参考に、UITableViewで達成済みIPPOの画面を実装できる

### 検討した実装案
Realmが必要

### その他の情報

### 参考URL・画像・スクリーンショット

[2019-04-20 16:17] riscait opened #71 "ストックIPPO表示画面を実装する"
### 機能の必要性
XLPagerTabStriperを使う前に、おそらく2VCそれぞれの画面を実装することになると思います。
（2つ作り終わったっらXLPagerTabStriperでまとめる）

### 実装の期待値
画面定義書を参考に、UITableViewでストックIPPOの画面を実装できる

### 検討した実装案
Realmが必要

### その他の情報

### 参考URL・画像・スクリーンショット

[2019-04-20 16:22] riscait opened #72 "XLPagerTabStripを使い、達成済み・ストックIPPOの画面を切り替えられるようにする"
### 機能の必要性
達成済み・ストックIPPOVCを一つの画面で切り替え表示できるようにするため

### 実装の期待値
スワイプで二つのVCを切り替え表示できる

### 検討した実装案
XLPagerTabStripを使用する

### その他の情報

### 参考URL・画像・スクリーンショット

[2019-04-20 21:57] eyener3 commented on #62
🙆‍♀️完了しました。

[2019-04-22 00:30] riscait opened #75 "[App内評価]IPPOを初めて達成したら、評価を求める"
### 機能の必要性
ポジティブな評価をしてもらうため。

ネガティブな評価は自主的になされやすいが、ポジティブな評価は積極的には行われにくいため、良きタイミングでユーザーに促したい

### 実装の期待値
IPPOを一つ達成した（ある程度アプリを使用した）タイミングでアプリ内評価を促すポップアップが表示されること

### 検討した実装案
iOS標準機能を使う

### その他の情報

### 参考URL・画像・スクリーンショット

[2019-04-28 12:36] #69 closed, assigned to riscait

[2019-04-28 12:38] riscait commented on #62
現開発メンバー全員が完了できましたのでCloseします！
また必要になったらReoponするかもしれません。

[2019-04-28 12:38] #62 closed, assigned to riscait, eyener3

[2019-04-28 12:40] riscait commented on #35
こちらも一旦完了ですので、Closeします！

[2019-05-01 14:29] riscait commented on #10
@stmtk1 向けにReoponします👌

[2019-05-01 14:34] riscait opened #76 "[開発者全員]Carthageのbootstrapコマンドでライブラリ環境を揃える"
Carthageの導入については #35 を参照

**完了したら、コメントでその旨を書き、アサインを外してください👌**

### 必要性
Carthageで導入したライブラリのビルド成果物はリポジトリに含めていないため、各員手元での
ビルドが必要

### 期待値
以下のライブラリをビルドし、エラーなくライブラリ使うことができる

- [x] XLPagerTabStrip
- [x] Realm

### タスク内容
- [x] `$ carthage bootstrap` コマンドを実行してライブラリをビルドする
- [x] 最新のmasterブランチで、エラーなくビルドできることを確認

[2019-05-01 14:40] riscait commented on #35
@stmtk1 向けにReoponします

[2019-05-01 14:48] #15 closed, assigned to riscait

[2019-05-01 14:51] riscait commented on #56
調べた結果、Publicリポジトリの情報取得に制限はないが、
Issue追加に関しては、GitHubアカウントが必要なのでハードルが高い。

閲覧はAPIを使って行うとして、
機能リクエストやバグ報告は、Googleフォームへの誘導などが現実的かも
という結論に至りました。

[2019-05-01 14:51] #56 closed, assigned to riscait

[2019-05-02 03:42] eyener3 opened #78 "【進捗画面】作成したstoryboardにViewControllerとNavigationControllerを追加する"
### 必要性

### 期待値

### タスク内容
- [ ]
- [ ]
- [ ]

### その他の情報

### 参考URL・画像など

[2019-05-02 04:01] eyener3 commented on #46
見落としていました
ありがとうございます^-^💡

[2019-05-02 04:06] eyener3 commented on #47
公式
https://github.com/realm/SwiftLint/blob/master/Rules.md

SwiftLintの全ルール一覧(Swift 4.2版)
https://qiita.com/uhooi/items/7f5d6cf2b240f60ba1ed

既存PJにSwiftLintを導入したら大変だった話
https://speakerdeck.com/uhooi/setup-swiftlint

[2019-05-02 04:44] eyener3 commented on #30
これでcommitしてみます！
間違いがあったら、ごめんなさい..><
![スクリーンショット 2019-05-02 12 59 53](https://user-images.githubusercontent.com/45029154/57056873-363dba80-6ce0-11e9-895e-973f67905373.png)

[2019-05-02 04:52] eyener3 opened #80 "【Wiki】ターミナルでクローンする方法"
### 必要性

### 期待値

### タスク内容
- [ ]
- [ ]
- [ ]

### その他の情報

### 参考URL・画像など

[2019-05-02 05:00] #80 closed, assigned to eyener3

[2019-05-02 05:02] eyener3 opened #81 "【Wiki】Xcode上でのブランチの切り方"
### 必要性

### 期待値

### タスク内容
- [ ]
- [ ]
- [ ]

### その他の情報

### 参考URL・画像など

[2019-05-02 05:03] #81 closed, assigned to eyener3

[2019-05-02 05:04] riscait commented on #30
問題なさそうにみえます！

[2019-05-02 05:05] eyener3 opened #82 "【Wiki】Xcode上でcommitする方法"
### 必要性

### 期待値

### タスク内容
- [ ]
- [ ]
- [ ]

### その他の情報

### 参考URL・画像など

[2019-05-02 05:06] #82 closed, assigned to eyener3

[2019-05-02 05:07] eyener3 opened #83 "Xcode上で差分（変更箇所）を知る"
### 必要性

### 期待値

### タスク内容
- [ ]
- [ ]
- [ ]

### その他の情報

### 参考URL・画像など

[2019-05-02 05:09] eyener3 opened #84 "【Wiki】ファイル横のM、A、？について【Xcode】"
### 必要性

### 期待値

### タスク内容
- [ ]
- [ ]
- [ ]

### その他の情報

### 参考URL・画像など

[2019-05-02 05:11] #84 closed, assigned to eyener3

[2019-05-02 05:11] #83 closed, assigned to eyener3

[2019-05-02 05:50] #30 closed, assigned to eyener3

[2019-05-02 11:12] #78 closed, assigned to eyener3

[2019-05-02 11:33] eyener3 opened #86 "【進捗画面】実装に入るにあたりStackViewについて理解する"
### 必要性
StackViewで何ができるか、担当画面ではどうするかは理解できたが、
StackViewの取り入れ方がいまいちなので実装前に学ぶ必要がありそう。

### 期待値
やり方を理解し、手を動かせるようにする。

### タスク内容
- [ 情報収集]
- [ 参考になる資料を見つける]
- [ 手順を理解する]

### その他の情報

### 参考URL・画像など
https://qiita.com/_ha1f/items/3b3c70a84263aca210ad
https://developer.apple.com/documentation/uikit/uistackview
https://qiita.com/taka1068/items/69273f05d34cfbeb3679

[2019-05-02 11:34] eyener3 opened #87 "【進捗画面】Storyboardに必要なパーツを配置する"

[2019-05-02 11:47] #36 closed, assigned to eyener3

[2019-05-02 11:54] riscait opened #88 "各画面にTab Bar Item を追加してアイコンとTitleを設定する"
### 機能の必要性

**1.  Prog画面 → @eyener3
2. ListedIPPO画面 -> @YamaTatsu10969
3. Misc画面 -> @Riscait**

の3画面はTabBarControllerで管理する画面になるが、アイコンを設定しておかないとTabBarが空白になり各画面の選択がしづらいため必要

### 実装の期待値
TabBarに設定したアイコンとタイトルが表示されること
詳しくは下記の画像を参照

### 検討した実装案
Prog画面
→進捗を表すようなアイコンで、タイトルは「進捗」？
ListedIPPO画面
→リストだと分かるようなアイコンで、タイトルは「IPPO」？
Misc画面
→その他だと分かるようなアイコンで、タイトルは「その他」か「設定」

### 参考URL・画像・スクリーンショット
<img width="1106" al

[2019-05-02 11:58] riscait opened #89 "【IPPOリスト画面】StoryboardにViewControllerとNavigationControllerを追加する"
### 機能の必要性
とりあえず追加しないと、TabBarControllerから参照先に設定できないため

### 実装の期待値
storyboardのNavCとVCが設置されており、Entry pointも設定されていること

**やまたつさんは不在のため、他のメンバーが代理でアサインして行う。**

[2019-05-02 12:23] #38 closed, assigned to eyener3

[2019-05-02 12:43] riscait commented on #89
アサインしました、作業始めます！

[2019-05-02 12:47] eyener3 commented on #88
この作業も自分のブランチに切り替えて作業して
commitまでを行なうと良いのでしょうか^-^？
見当違いな質問でしたら申し訳ないです..(⌒-⌒; )

[2019-05-02 12:52] riscait commented on #88
そうですね！他に作業中でなければ、最新のmasterから新しくブランチを切って作業し、コミット〜プルリクまで行なってください👌

[2019-05-02 12:52] riscait commented on #88
3画面（3プルリク）完了したらこのIssueをCloseしましょう〜！

[2019-05-02 12:53] riscait commented on #88
あ、設定するのは自分の担当画面だけでOKです！
（追記しました）

[2019-05-02 13:03] riscait opened #91 "[Carthage]DZNEmptyDataSetライブラリをインストールする"
優先度低いのでv.1.1.0想定です。

### 機能の必要性
TableViewで何もデータがないときに表示する用のビュー

### 実装の期待値
ライブラリをインストールし、エラーなくビルドできる
ライブラリ導入の仕方は以下を参照
#48

### その他の情報
DZNEmptyDataSetライブラリのGitHubURL
https://github.com/dzenbot/DZNEmptyDataSet

### 参考URL・画像・スクリーンショット
![Screenshots_row1](https://user-images.githubusercontent.com/8737743/57076934-b9cdca80-6d25-11e9-88bb-a9ebf68dbe4c.png)

[2019-05-02 13:14] eyener3 commented on #88
承知しました💡
ありがとうございます！

[2019-05-02 13:25] eyener3 opened #92 "【進捗画面】Tab Bar Item を追加してアイコンとTitleを設定する"
関連するIssue #88

### 機能の必要性
アイコンを設定しておかないとTabBarが空白になり各画面の選択がしづらいため必要

### 実装の期待値
TabBarに設定したアイコンとタイトルが表示されること

### 検討した実装案

### その他の情報
進捗画面が確かホーム画面になるので
家のアイコンでもいいかなぁと検討中。

### 参考URL・画像・スクリーンショット
参考サイト：http://icooon-mono.com/category/sign/
![スクリーンショット 2019-05-02 22 20 16](https://user-images.githubusercontent.com/45029154/57078073-7de83480-6d28-11e9-8ce7-ccc89b6087a3.png)

[2019-05-02 13:28] riscait commented on #92
確かに進捗だけでなくタスク設定画面に行ったり、色々しますもんね💡
ホームアイコンも良いと思います♪

[2019-05-02 13:31] riscait commented on #88
アイコンなんですが、「icon8」もオススメです！
（Misc画面の各セルアイコンで使いました）
Macアプリが特に使いやすい…💡

[2019-05-02 13:31] eyener3 commented on #92
ありがとうございます^0^！
またより良い案がでたら検討することにして、
いまのところホームアイコンにしてみます💡

[2019-05-02 13:38] eyener3 commented on #88
ありがとうございます！
龍之介さんのアイコンいいなぁと思っていました^0^！
icon8 使ってみたいと思います♪

[2019-05-02 14:24] #24 closed, assigned to riscait

[2019-05-02 14:31] riscait commented on #10
@stmtk1 さんは完了されたようですね。
@Koki-Nakamura さんのタスクになります。

[2019-05-02 14:35] Koki-Nakamura commented on #10
@Riscait
Cloneしておきました！

[2019-05-02 14:36] riscait commented on #10
@Koki-Nakamura ありがとうございます！
Closeしちゃいますね！

[2019-05-02 14:36] #10 closed, assigned to Koki-Nakamura

[2019-05-02 15:01] #89 closed, assigned to riscait

[2019-05-02 15:10] riscait commented on #50
3画面行き来できた方がモチベも上がるし色々便利なので、作業入りたいと思います！

[2019-05-02 15:12] eyener3 commented on #92
タスクアイコン、かわいいなぁ。。
こっちにしてみよう。
![スクリーンショット 2019-05-03 00 11 18](https://user-images.githubusercontent.com/45029154/57085862-07533300-6d38-11e9-8e37-982fed60f770.png)

[2019-05-02 15:19] Koki-Nakamura commented on #76
@Riscait
対応完了しました！

[2019-05-02 15:30] riscait commented on #88
いつも、その他(設定)画面は、設定を表す歯車のアイコンか「…(3 dots)」にするか迷う🤔

[2019-05-02 16:07] eyener3 commented on #88
迷いますね..🤔
タイトルが"設定"だったら歯車、"その他"だったら「…(3 dots)」
というのもありな気がしました💡

[2019-05-02 17:42] eyener3 commented on #50
ありがとうございます！
よろしくお願いします🙇‍♀️

[2019-05-02 18:02] eyener3 commented on #92
シュミレーターでテストしたところ、
ビルドエラーが出てしまいました。＞＜
![スクリーンショット 2019-05-03 02 48 22](https://user-images.githubusercontent.com/45029154/57095556-2eb4fa80-6d4e-11e9-8c81-be31310ce966.png)

エラー文を検索したところ、
[開発者全員]Carthageのbootstrapコマンドでライブラリ環境を揃える #76
こちらを行なっていないためにエラーになっているようでした。

こういった場合は、
上記の #76 を優先的に行なうのがいいのですよね..><💡

masterについて理解がもう一歩及ばないのですが
**#76 のようなタスクでは、ブランチを切らずに下記のように
masterにチェックアウトしてGitを実行するので合っていますでしょう

[2019-05-02 18:34] eyener3 commented on #91
tumblrのかわいい..🤔💡

[2019-05-02 23:18] riscait commented on #92
@eyener3
#76 のタスクについては、あくまで各員のローカルの環境を合わせるのが目的なので、ブランチ作成したりコミットする必要はありません👌
なので、どのブランチで行なっても良い作業となります（ブランチは関係ない）
bootstrapコマンド実行後にエラーが出なければOK！

念の為、以下のディレクトリを確認してみてRealm.frameworkがあると思うので確認してみてください💡
Stepippo-iOS/Carthage/Build/iOS/Realm.framework
Stepippo-iOS/Carthage/Build/iOS/RealmSwift.framework

[2019-05-02 23:23] #50 closed, assigned to riscait

[2019-05-03 01:15] eyener3 commented on #92
ありがとうございます^-^！
#76 上手くいきました🙇‍♀️
ディレクトリの確認も行ない、該当する2つがありました。
ありがとうございました💡

[2019-05-03 01:15] eyener3 commented on #76
完了しました^-^💡

[2019-05-03 01:29] eyener3 commented on #76
シュミレーターでエラー出てしまっているので
ちょっと修正してみます。。

[2019-05-03 07:07] riscait commented on #91
こういう一工夫がいいですよね☺️

[2019-05-03 07:57] #92 closed, assigned to eyener3

[2019-05-03 16:41] eyener3 commented on #86
いい記事があった💡
少し古くはありますが、これ見てやってみようと思いますっ
https://qiita.com/merrill/items/04be7d2222cd70dd6408

[2019-05-03 16:51] eyener3 opened #98 "【進捗画面】配置したパーツをStackViewでまとめる"
### 機能の必要性
AutoLayoutを設定するViewをグルーピングして、まとめて制約を設定する

### 実装の期待値

- 各パーツがStackViewに内包されている

- 縦向き・横向きに対して、文字切れや変な余白がうまれない

- iPhone SE ~ iPhone XS Max でレイアウトが崩れず表示されること

### 検討した実装案

### その他の情報

### 参考URL・画像・スクリーンショット
StackViewの進め方
https://qiita.com/merrill/items/04be7d2222cd70dd6408

龍之介さんが作成してくださったSketch
https://sketch.cloud/s/rlRVq/l1g7Dvz/play

![Stepippo進捗画面参考-3](https://user-images.githubuser

[2019-05-03 16:51] #86 closed, assigned to eyener3

[2019-05-04 09:38] eyener3 opened #100 "チェックボックスをどうするか考える"
### 必要性
・StackViewを進めるにあたりチェックボックスどうするか
・チェックボックスのライブラリを決めたが、そこから実装をどうするか止まっていたため再び考える

### 期待値
チェックボックスをどうするか決め、StackView・実装に入れるようにする。

### タスク内容
- ライブラリを決めたあと何をすべきか？
- チェックボックスを実装するには？
- チェックボックスにおいての疑問を解消する

### その他の情報
該当Issue #45

### 参考URL・画像など

[2019-05-04 09:43] eyener3 commented on #100
おぉ、記念すべき100Issue..🎉✨

[2019-05-04 10:32] riscait commented on #100
すごい！もう100なんですね！🎉🎉

[2019-05-04 10:51] riscait opened #101 "[Carthage]LicensePlistを導入し、ライセンス表示を自動化する"
### 必要性
OSSのライセンス表示が必要
LicensePlistで自動化したい

初回リリースまでに実行したいが、優先度は低め
リリース前に手が空いたら行う

[2019-05-04 11:59] eyener3 commented on #100
▼参考にしようと思っている記事
http://9ensan.com/blog/smartphone/iphone/iphone-uibutton-checkbox/

https://qiita.com/bohebohechan/items/49aa25ed9a24b04619a0

[2019-05-04 12:40] riscait commented on #100
おぉ、カスタムクラスでの自作良さそうですね♪

[2019-05-04 12:44] eyener3 commented on #100
ありがとうございます！
カスタムクラスについてもまだ理解が及んでいないので
引き続き学んでいきたいと思います（*^･^*)♪

[2019-05-04 13:17] eyener3 opened #102 "カスタムクラスについて理解する"
### 必要性
チェックボタン実装において、カスタムクラスをする必要があるため

### 期待値
カスタムクラスについて理解し、実際に実装できること

### タスク内容
- カスタムクラスとは？
- 実装するには？
- 活用の仕方を知る

### その他の情報
カスタムviewと同義かなと推測。
（▼参考URL）

### 参考URL・画像など
https://qiita.com/maebaru/items/90f915f82e3d6425cbdc

[2019-05-04 13:21] riscait commented on #102
いいですね！
カスタムビューはUIViewのカスタムクラス、
カスタムボタンはUIButtonのカスタムクラス

という感じで使ったりすると思います👌

[2019-05-04 13:38] eyener3 commented on #102
あ、カスタムボタン！💡
少しずつ理解が追いついてきましたっ
ありがとうございます^0^♪

[2019-05-04 14:27] eyener3 opened #103 "[進捗画面] チェックボタンクラス専用のファイルを作成する"
### 機能の必要性
- 別ファイルに切り分けることでViewControllerがすっきりする？

### 実装の期待値

### 検討した実装案

### その他の情報
別ファイルを作成することは必要なのだろうと思っているが、
まだハッキリ理解できていないため、やってみてから判断しよう..💡

▼関連Issue
#102
#100

### 参考URL・画像・スクリーンショット
https://swiswiswift.com/custom-button/

▼ググるコツが知りたくて見つけた記事です
https://swingroot.com/google-search/

[2019-05-04 14:38] riscait commented on #103
別ファイルが必要ですね！原則、1class(or struct)につき1ファイル作ります👌

[2019-05-04 14:56] riscait opened #104 "ウォークスルー画面を考える"
### 機能の必要性
ユーザーがインストールして最初に起動した時は、進捗画面ではなくウォークスルー（チュートリアル）を表示する

IPPOに挑む期間設定（毎日・毎週・毎月）やをしてもらったり、タスクは3つまでである説明など

### 実装の期待値
どんな画面が必要かを考える

### 検討した実装案

### その他の情報

### 参考URL・画像・スクリーンショット

[2019-05-04 15:03] eyener3 commented on #103
ありがとうございます！
理解が深まりました☺️🙏💡

[2019-05-04 15:11] #102 closed, assigned to eyener3

[2019-05-04 15:51] eyener3 opened #105 "アクションシートについて考える"
### 必要性
アクションシートの実装に入るために理解を深める。

### 期待値
アクションシートの実装について理解でき、実装に移れること

### タスク内容
- アクションシートの実装方法
- storyboardへの配置方法

### その他の情報
▼以下の画像を目指す

### 参考URL・画像など
![スクリーンショット 2019-05-05 00 48 38](https://user-images.githubusercontent.com/45029154/57181526-e58cb400-6ecf-11e9-9ce9-71e063765b33.png)

[2019-05-04 15:53] eyener3 commented on #105
- UIAlertControllerのインスタンスを生成するらしいことはわかった

- アラートとの違いは、preferredStyleにUIAlertControllerStyle.actionSheetを指定するらしい

- アクションシートはstoryboardでは行なわず、コーディングのみで行なうようだ

▼参考資料
http://swift.hiros-dot.net/?cat=4&paged=2

https://iphone-tora.sakura.ne.jp/uiactionSheet.html

[2019-05-04 15:56] #100 closed, assigned to eyener3

[2019-05-04 16:03] eyener3 opened #106 "アクションシート用のファイルを作成する"
### 機能の必要性

- 期限変更にアクションシートを使用するため実装が必要となる

- 1classに1ファイルにするため

### 実装の期待値
エラーなく、アクションシートが表示される

### 検討した実装案

### その他の情報
関連Issue #105

### 参考URL・画像・スクリーンショット

[2019-05-04 16:13] eyener3 opened #107 "ProgressBarについて考える"
### 必要性
ProgressBarの実装に入る前に把握すべきことを整理・理解する

### 期待値
整理・理解でき、ProgressBarの実装に入れること

### タスク内容
- ライブラリを使うかどうか..
- 実装方法
- 再度、情報収集してみる

### その他の情報
関連Issue #45

### 参考URL・画像など

[2019-05-04 22:20] riscait commented on #105
ちなみに、MiscVC.swiftのLine: 234~253 でもアクションシートを使っています👌

[2019-05-04 23:52] eyener3 commented on #105
ありがとうございます！
さっそく見てみようと思います^○^♪

[2019-05-05 14:15] eyener3 commented on #107
チェックボックス同様、期間や達成数を表す増減の画像が用意できれば、ProgressBarもオリジナルでもいけるのでは？と考えた💡

[2019-05-05 19:35] eyener3 opened #110 "ProgressBar用のファイルを作成する"
### 機能の必要性

- ProgressBarの実装をするため

### 実装の期待値

- エラーなく、アニメーション（ゲージの増減）も実装できる

### 検討した実装案

- ファイル名は、ProgPBarVCにしようかな

### その他の情報

- 関連Issue #107

### 参考URL・画像・スクリーンショット

[2019-05-05 23:39] riscait commented on #110
progress barのクラスを作成するってことですよね？☺️
ViewControllerじゃないと思うので、最後にVCは要らないかな👌

[2019-05-06 00:22] riscait commented on #107
今の所最大で32段階（31日分）あるのでその分の画像を用意するのは現実的じゃなさそうですね🤔
達成度や進捗によって、表示する「幅:Width」を割合で変えていくのが一案かと思いました👌

[2019-05-06 05:37] eyener3 commented on #110
レビューいただき、
ありがとうございます！
はい💡progress barのクラスを作成します♪

ViewControllerがいらないのですねっ
少しゴチャゴチャになっていました^-^
VCは消しておこうと思いますっ！

progress barの扱われ方について、
まだ理解が足りないようなので、もう少し掘り下げてみようと思います^-^💡

[2019-05-06 05:59] eyener3 commented on #107
たしかに、その懸念点も頭をよぎりました..😭🙏
コードで設定する形になるのでしょうかね
幅:widthの割合を変えていく実装について、
調べてみようと思いますっ😌！

[2019-05-06 06:10] riscait commented on #107
ProgressBarは今まで使ったことなかったのですが、
ググってみたら、標準のUIProgressViewを使えば実装できそうかも？と思いました🤔
https://qiita.com/fromage-blanc/items/2ec7c89c3484765acf8f

色や太さ変えたり、画面を表示したら指定した割合まで進むように指定できそうですね💡

[2019-05-06 06:32] eyener3 commented on #107
リンクありがとうございます！
見てみました💡
標準でも良さそうですね♪

いまstoryboardにある標準progress barをそのままに
コードで指定する方向で行こうと思います^○^💡

[2019-05-06 06:34] riscait commented on #107
はい！標準でダメそうだったり、もっと良いものにするのに必要だったら後々独自で作ってみましょう👍

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-06 06:44] eyener3 commented on #107
はいっ、そのようにします！☺️🙏

[2019-05-06 09:04] eyener3 opened #111 "[進捗画面] Action sheetを実装する"
### 機能の必要性
毎月、毎週、毎日、chancelを選択し期間変更をできるようにするため

### 実装の期待値
エラーなく、機能が反映されている状態

### 検討した実装案
龍之介さんに教えていただいた案

### その他の情報
関連Issue
#105
#106

### 参考URL・画像・スクリーンショット
![スクリーンショット 2019-05-06 17 53 09](https://user-images.githubusercontent.com/45029154/57215911-4e3b7400-7029-11e9-8e70-f7e4618c7128.png)

[2019-05-06 10:57] riscait commented on #88
その他画面、完了しました👌

[2019-05-06 12:04] riscait opened #112 "[進捗画面]progress barがアニメーションするようにする"
### 機能の必要性
動きがあったほうが進捗が目に見えてわかりやすい

### 実装の期待値

1. 進捗画面を表示すると、最初はprogress barが0%の状態
2. すぐにprogress barが進んで、設定した値で止まること

### 検討した実装案

1. UIProgressViewの標準機能でできそう🤔
2. 画面を表示したときにアニメーションして欲しいので、`viewDidLoad`で処理を実行する

### その他の情報
最低限の機能ではないので優先度低め。
マイルストーンv.1.1.0に設定しました

### 参考URL・画像・スクリーンショット

[2019-05-06 12:22] riscait commented on #106
ActionSheetは今の所カスタムせずに標準のものを使うので新しいクラスを作る必要はないですね💡
使用するだけならファイルの作成は基本必要ないです。
新しくカスタマイズしたものを実装したいなら新しくクラスを作ります😊👌

もしくは、もっと簡単に使えるように（ショートカット的な）クラスを作ることはあります。

[2019-05-06 12:25] eyener3 commented on #106
ありがとうございます！
龍之介さんのActionSheetがMiscVCにあったので
もしかしたら、そうなのかも💡と感じておりました☺️

ショートカット的なのもあるのですね！
あまりわかっていないので、
ググってみようかと思います^○^♪

[2019-05-06 14:38] #106 closed, assigned to eyener3

[2019-05-06 15:54] riscait opened #113 "ローカル通知が必要か、必要ならどこで必要かを議論する"

[2019-05-07 06:32] eyener3 opened #114 "【あいなー】SwiftLintを導入する"
### 必要性
コーディングスタイルの静的解析をしてくれて、軽微な間違いは自動修正してくれる
※このIssueでは、導入と設定のみを行なう

### 期待値
問題なく、導入できること。

### タスク内容

- 別ブランチを最近のmasterから切って行なう

- 各プロパティ（デフォルト設定）の意味など調べる

### その他の情報
関連Issue #46 #47

### 参考URL・画像など
https://qiita.com/uhooi/items/bf888b53b4b8210108aa

[2019-05-07 06:35] #107 closed, assigned to eyener3

[2019-05-07 06:39] #105 closed, assigned to eyener3

[2019-05-07 07:16] eyener3 commented on #88
進捗画面、完了しました^-^💡

[2019-05-07 07:58] eyener3 opened #116 "【あいなー】Carthageを使ってRealmライブラリを導入する"
### 必要性

### 期待値

### タスク内容

### その他の情報
関連Issue #24

### 参考URL・画像など

[2019-05-07 08:32] eyener3 commented on #116
できる限りの事はやってみましたが、
エラーのままになってしまいます..><

明日に間に合わせようと思っていますが
難しかったら、申し訳ありません。。m(._.)m
![スクリーンショット 2019-05-07 17 31 50](https://user-images.githubusercontent.com/45029154/57285369-092d4580-70ee-11e9-97ca-a57ee53c5959.png)

![スクリーンショット 2019-05-07 17 27 39](https://user-images.githubusercontent.com/45029154/57285204-a9cf3580-70ed-11e9-81e0-f6a47bfb42e8.png)

![スクリーンショット 2019-05-07 17 29 20](https://user

[2019-05-07 08:49] riscait commented on #116
画像１枚目見てまず気になったのが、新しいブランチ切るとき、masterから切っていなそうに見えます🤔
新しいIssueに取り掛かるときは「最新のmaster」から切るようにしましょう！
方法は分かりますか？

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-07 08:52] riscait commented on #116
②あいなーさんがするべきなのはcarthage updateではなく、carthage bootstrapコマンドです。
carthageはすでにインストールされているようですし、cartfileもすでにプロジェクトに追加されています👌

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-07 08:54] riscait commented on #116
#24 は誰か一人がやれば良いタスクで、僕が実施したので不要なタスクです。
あいなーさんに必要なのは#76 となります。
そして、#76 は新たにブランチを切る必要がないタスクです👍

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-07 08:56] riscait commented on #116
画像2,３枚目で行なっているXcodeでのフレームワークの追加は、#24 など、誰か一人がやれば良いタスクなので #76 では必要ないです🙆‍♂️
もうすでにフレームワークあるので同じのが2つになってますよね？

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-07 09:00] eyener3 commented on #116
ありがとうございます^-^！

やっている手順としては、
①Xcodeでカレントからmasterへチェックアウト
②masterからブランチを切る
③作業開始

今回の導入系のことは、
①Xcodeでカレントからmasterチェックアウト
②masterからブランチを切る
③ターミナルでgit branch をすると、Xcodeでのブランチが存在しないため、ターミナル上でも同じブランチを切ってから、導入を試みました。

#24 のIssueについては理解できました^-^
ゴチャゴチャになってしまっていて、
不要な作業をしていたようですね...><

#76 もブランチ不要なのですね💡
#76 のIssueをやってみようと思います🙆‍♀️

[2019-05-07 09:19] eyener3 commented on #116
こちらcloseしますね><💡

[2019-05-07 09:19] #116 closed, assigned to eyener3

[2019-05-07 09:27] eyener3 opened #117 "[あいなー]Carthageのbootstrapコマンドでライブラリ環境を揃える"
### 必要性
ライブラリ環境を全員揃える

### 期待値

### タスク内容
`$ carthage bootstrap —platform iOS `コマンドを実行してライブラリをビルドする
 最新のmasterブランチで、エラーなくビルドできることを確認

### その他の情報
関連Issue #76

### 参考URL・画像など
![スクリーンショット 2019-05-07 18 22 38](https://user-images.githubusercontent.com/45029154/57288782-1f8acf80-70f5-11e9-9707-7ec9cf9f8a71.png)

- エラー
No entry found for dependencies ios, —platform in Cartfile.resolved – please run `car

[2019-05-07 09:44] riscait commented on #116
③がかなり怪しいですね…
同じブランチがないのはおかしいです。
もしかして、Xcodeとターミナルで別々のすてぴっぽプロジェクトを見てたりしませんか…？👀

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-07 10:01] eyener3 commented on #116
③おかしいですよね..＞＜。
もう一度プロジェクトが正しいか、
確認してみようと思います🙇🏻‍♀️💡

[2019-05-07 10:09] riscait commented on #116
ですね！それでダメなら…

プロジェクト削除→クローンし直し→carthage bootstrap
は試しましたか？

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-07 10:11] eyener3 commented on #116
[code]

Xcodeの方ではなく、
Stepippoの方にありました^-^💡

[2019-05-07 10:16] riscait commented on #116
ん？先にターミナルでブランチ切って、xcodeで見たら無かったということですか？🤔

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-07 10:24] eyener3 commented on #116
先にxcodeでブランチを切って、
ターミナルでの導入時にブランチを確認したら切ったブランチがなかった、
ということです^-^！

先日の再クローン以来、クローンはしていないですねっ
Finder上のスクショも貼りますねっ
![スクリーンショット 2019-05-07 19 24 43](https://user-images.githubusercontent.com/45029154/57292816-e145de00-70fd-11e9-9620-778e26d23854.png)
![スクリーンショット 2019-05-07 19 24 49](https://user-images.githubusercontent.com/45029154/57292828-e73bbf00-70fd-11e9-9f1d-d1fad0e1e9fe.png)

[2019-05-07 10:29] riscait commented on #116
1枚目画像
ここにCartfileなどあるのはおかしいですね！

というかその前に一番上の画像をもう一度見てみたら、ターミナルの作業パスがStepippじゃなくてXcodeじゃないですか笑

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-07 10:34] eyener3 commented on #116
本来、Stepippoが作業パスでしたね^-^💡
混乱していたようです
もう大丈夫かと思われます^-^🙏
お騒がせいたしました><

[2019-05-07 10:34] riscait commented on #116
![GitHawk Upload by Riscait](https://i.imgur.com/UknZ2Dy.jpg)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-07 10:36] eyener3 commented on #116
ありがとうございます..😿🙏

[2019-05-07 10:37] riscait commented on #116
![GitHawk Upload by Riscait](https://i.imgur.com/uTWgFdj.jpg)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-07 10:40] eyener3 commented on #116
それが原因で、エラーが消えなかったり、
コマンド打ってもエラーになっていたのですね><

すぐ混乱してしまいますね、、申し訳なかったです😿
次こそ、成功させたいと思います！

[2019-05-07 10:44] riscait commented on #116
とんでもないです！原因がわかってよかった✨

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-07 10:45] eyener3 commented on #116
本当にありがとうございます。。（ ;  ; ）！！

[2019-05-07 11:16] eyener3 commented on #117
Carthageが表示されました。
![スクリーンショット 2019-05-07 19 58 24](https://user-images.githubusercontent.com/45029154/57294389-7b0f8a00-7102-11e9-929c-ee978be1bbc7.png)
![スクリーンショット 2019-05-07 20 13 46](https://user-images.githubusercontent.com/45029154/57295136-cc207d80-7104-11e9-869e-47aac1f9eaaa.png)

▼同じエラーが出るのは変わらないので、再度調べてみる。

[2019-05-07 11:22] riscait commented on #117
ん？bootstrapが成功したからcarthageフォルダができたのでは？

carthage updateをやったんですか？

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-07 11:24] riscait commented on #117
Xcodeでclean→buildを試しましたか？

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-07 11:59] eyener3 commented on #117
成功したと思ったのに、エラーになるので、
どうしたらいいものかと思っていました^-^。

[2019-05-07 12:00] eyener3 commented on #117
やってみます^-^

[2019-05-07 14:58] riscait commented on #117
上記のエラーってターミナルでコマンド打った時のエラーですよね？
なので、

の意味がちょっと理解できず🤔

ターミナルでやったならコマンド履歴が残っていると思うので、
最初からエラー出たところまでのスクショ貼ってほっしいです💡

[2019-05-07 15:06] riscait commented on #114
SwiftLintは全然わからないのですが、
ルールは後から追加するから、導入はしても実質動作は何も変わらない状態まで持っていくタスクという認識で合ってますか？😊

[2019-05-07 15:46] eyener3 commented on #117
またちょっと混乱してきました^-^
コマンド履歴は git log でしたよね🙇‍♀️？
現状、エラーの履歴の部分がなぜか出てこないので、
スクショ貼れず、ごめんなさい。。m(._.)m

もう少しやってみます^-^！

[2019-05-07 16:21] riscait commented on #117
git logはコミットのログです！
ターミナルでどうコマンドを打った結果を見たいという意味です👌

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-07 16:28] eyener3 commented on #114
はい！ルール選定のファイルを作る前段階まで進めようと考えました^-^💡
xcode設定も行なってみました🙇‍♀️
![スクリーンショット 2019-05-08 01 25 47](https://user-images.githubusercontent.com/45029154/57316287-66e28180-7130-11e9-82cb-7da1d1776701.png)

[2019-05-07 16:40] eyener3 commented on #117
やってみました！m(._.)m💡
![スクリーンショット 2019-05-08 01 39 36](https://user-images.githubusercontent.com/45029154/57317046-284dc680-7132-11e9-90a7-fdecfde9d951.png)

[2019-05-07 22:11] riscait commented on #117
1回目(上手くいったかもの時)の履歴ですか？
違うのであれば1回目も同じ内容が表示されつつCarthageフォルダが出来上がった？🤔

Xcodeではどんなエラーが出てるんですか？
そちらをみたいです👀

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-08 05:17] eyener3 commented on #117
↑こちらの通りですね^-^！

Xcodeのエラーはこちらです！
![スクリーンショット 2019-05-08 14 14 44](https://user-images.githubusercontent.com/45029154/57351168-cfb31380-719b-11e9-97d8-2f2b221d72d9.png)

うまく行ったかもの時に、
ずっと出ていたRealmのエラーは消えたのですが、
新しいエラーが出ました^-^。

[2019-05-08 06:06] riscait commented on #117
エラーの内容は文面そのままなので分かりますね👍
できれば１回目のコマンド履歴が見たかったです👌

DerivedDataを削除してもう一度試してみてください！（ググると消し方は出てきます🙆‍♂️）

それでもダメならプロジェクト一度消して試してください👍←もう試しましたか？

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-08 06:12] riscait commented on #117
あ、CartfileとCartfile.resolvedファイルを見たいです👍
もしこれらを上書きしていたら上手くいかないと思うので…

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-08 06:44] eyener3 commented on #117
historyコマンドで見ることができるようでやってみましたが、
打ったコマンドしか出ませんでした。
![スクリーンショット 2019-05-08 15 41 45](https://user-images.githubusercontent.com/45029154/57354909-cc258980-71a7-11e9-9013-54dfd7b05951.png)

やってみます^-^

CartfileとCartfile.resolvedファイルのスクショ貼ります
![スクリーンショット 2019-05-08 15 36 15](https://user-images.githubusercontent.com/45029154/57355007-068f2680-71a8-11e9-950e-1c4490a3bdaf.png)

[2019-05-08 10:34] riscait commented on #117
このCartfileは問題ないみたいですね👌
とりあえず、Carthageのインストールやuodateコマンド、Cartfileの作成・編集は不要ですのでクローンし直した時はやらずに、bootatrapのみで大丈夫です🙆‍♂️

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-08 10:36] eyener3 commented on #117
ありがとうございますっ^○^！

[2019-05-08 12:12] eyener3 commented on #117
再クローンし直してみます！💡

[2019-05-08 12:52] riscait commented on #117
僕もクローンしてやってみました！
違いがあれば、比べてみましょう👌
<img width="837" alt="スクリーンショット 2019-05-08 21 51 45" src="https://user-images.githubusercontent.com/8737743/57376640-7e2a7900-71db-11e9-9bc0-3c16a914dec3.png">

[2019-05-08 12:57] eyener3 commented on #117
ありがとうございます(T ^ T)！！

[2019-05-08 14:16] Koki-Nakamura opened #118 "タスク登録画面のコンポーネントを追加する"
### 必要性
- タスクを登録する際に各コンポーネントが必要になる

### 期待値
- Sketchと同じコンポーネントを追加する
![GoalSetting](https://user-images.githubusercontent.com/40520484/57381882-cac78180-71e6-11e9-849f-edfb4a6e9899.png)

### タスク内容
- [ ] NavigationControllerにタイトルとStopを追加
- [ ] text入力を促すLabelの追加
- [ ] タスクに登録するためのtextFieldを追加
- [ ] Stock/Addのボタンを追加

[2019-05-08 17:58] #117 closed, assigned to eyener3

[2019-05-09 00:51] #118 closed, assigned to Koki-Nakamura

[2019-05-09 03:16] Koki-Nakamura opened #122 "タスク選択画面のUI詳細を設定する"
### 必要性
Sketch通りのUIを実装する
iPhoneSEやiPhoneXRなどの画面サイズに応じてUIが崩れてしまうのを防ぐため
### 期待値
Sketchと同じUIを実装出来ている
### タスク内容
- [ ] AutoLayoutの設定
- [ ] CornerRadiusの設定
- [ ] BorderColorの設定

[2019-05-09 05:36] riscait commented on #4
**原則`self.`は省略する** を提案します
簡潔な表現をするためにselfは明記しない。
selfは、コンパイラエラーが出るところ（クロージャー内など）のみに使用する。

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-09 07:32] #114 closed, assigned to eyener3

[2019-05-09 10:22] eyener3 commented on #110
ProgressBarがViewControllerに書かれている情報が多く、
なかなか何のクラスになるのか、どのテンプレートなのかたどり着けていませんでしたが
公式に「class UIProgressView : UIView」とあったので、これで考えていきたいと思います。
https://developer.apple.com/documentation/uikit/uiprogressview

[2019-05-09 10:26] riscait commented on #110
UIKitのUIProgressViewを使うのであれば、とりあえずViewControllerに書けば良いと思いますよ👌

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-09 10:35] eyener3 commented on #110
ありがとうございます！
そのようにしてみます^-^💡

[2019-05-09 10:37] #110 closed, assigned to eyener3

[2019-05-09 10:53] riscait opened #123 "[進捗画面] Storyboardに設置したUIパーツをVCのクラスに繋ぐ"
（やり方はいろいろあるけど）controlキー押しながらClass内部までドラッグする…

入門書にも書いてあると思います👌

ボタンを押した時など動作をコードで定義したいときは、IBAction

パーツの見た目（状態）をコードで操作したいときは、IBOutlet

を使います🙆‍♂️

viewDidLoadの上に定義しましょう👍

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-09 10:57] eyener3 commented on #123
@Riscait
ありがとうございます！
やってみます^0^！

[2019-05-09 11:00] riscait opened #124 "[進捗画面] タスクを選択ボタンを押すとタスク選択画面に遷移する"
遷移の表示方法ははPresent Modalを選択する

遷移先は、以下の画面です。
GoalSetting.storyboard
GoalSettingVC

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-09 11:11] eyener3 commented on #124
ありがとうございます！！m(._.)m

[2019-05-10 13:51] riscait commented on #98
期待値に、
iPhone SE ~ iPhone XS Max でレイアウトが崩れず表示されること
を追加しました！

[2019-05-11 05:29] #123 closed, assigned to eyener3

[2019-05-11 05:29] #87 closed, assigned to eyener3

[2019-05-11 05:37] #103 closed, assigned to eyener3

[2019-05-11 06:41] eyener3 commented on #98
追加ありがとうございます＾ー＾！

[2019-05-12 09:24] riscait opened #134 "進捗画面のTabBarIconが拡大されて表示されてしまっている"
### 本来の期待動作
どのデバイスでも適切な大きさで表示されて、チラつきもない

### 実装予想
Assetsの画像を1サイズしか用意していなことが主な原因かと思います。
その他画面を参考に同じように画像サイズを追加したりしましょう！

### 参考スクリーンショット・画像・動画・URL
![Simulator Screen Shot - iPhone SE - 2019-05-12 at 18 22 09](https://user-images.githubusercontent.com/8737743/57580312-e5e60a00-74e2-11e9-856a-7235bc1f11e8.png)

[2019-05-12 09:31] #122 closed, assigned to Koki-Nakamura

[2019-05-12 09:43] Koki-Nakamura opened #135 "タスク選択画面での画面遷移の実装"
### 必要性
各ボタン押下時の画面遷移を実装
### 期待値
各ボタン押下時の画面遷移を正常に実装出来ている
### タスク内容
- [ ] ×押下時の画面遷移
- [ ] Stock押下時の画面遷移
- [ ] Add押下時の画面遷移

### その他の情報
※「Stock」「Add」押下時の挙動を理解できていないため、次回MTG時に確認する
### 参考URL・画像など

[2019-05-12 11:52] riscait commented on #135
想定としては、
Stockボタン押下→Stock属性？をつけてRealmで記録、完了ダイアログ表示（遷移なし）
Addボタン押下→下部のStackViewに追加して表示させる処理（遷移なし）

あくまで僕個人のイメージなので、他にこうした方が良いんでは？などあれば皆さんも考えを教えていただければ💡

[2019-05-12 13:44] Koki-Nakamura commented on #135
共有ありがとうございます。
どちらにせよ遷移は必要なさそうですね！

[2019-05-12 14:08] #135 closed, assigned to Koki-Nakamura

[2019-05-12 14:29] Koki-Nakamura opened #137 "タスク選択画面内のtextField周りの処理を実装"
### 必要性
- キーボード周りの設定
- クリアボタンの実装
### タスク内容
- [x] キーボードのEnterが完了になっている
- [x] キーボード以外を押下するとキーボードが閉じる
- [x] クリアボタンが実装されている

[2019-05-12 17:51] #26 closed, assigned to riscait

[2019-05-12 23:56] riscait opened #138 "Intへのインクリメント機能の実装"
extensionを作成する

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-13 14:11] riscait opened #140 "IPPOのデータモデルを作成する"
Block by #42

### 機能の必要性
Realmで永続化するためのデータモデルが必要

### 実装の期待値
#42 で定めたデータ構造を反映したデータモデルクラスを作成する

### 検討した実装案
[code]

### その他の情報

### 参考URL・画像・スクリーンショット

[2019-05-14 13:38] riscait commented on #124
マージ予定の Add_Progstryboard_stackview ブランチから
新しく切って取り掛かりましょう👌

[2019-05-14 13:40] riscait opened #141 "進捗画面のStackViewにAutoLayoutの制約をつける"
### 機能の必要性
デバイスに関係なく意図した位置にパーツが配置されるため

### 実装の期待値
iPhoneSE ~ XS Maxどれで確認しても各パーツが途切れず、崩れることなく表示されること

### 検討した実装案
1. StackViewに上、横の制約をつける
2. SEで収まらなそうなら、ScrollViewをUIViewとStackViewの間に入れて、
ScrollViewの上に全てのパーツが載っている状態にしてスクロール可能にする

### その他の情報
ScrollViewはコツを掴むまでは難しい…

### 参考URL・画像・スクリーンショット
ScrollViewなくてもいけそう！
<img width="1645" alt="スクリーンショット 2019-05-14 23 12 52" src="https://user-images.githubuserco

[2019-05-14 14:32] #98 closed, assigned to eyener3

[2019-05-14 18:57] eyener3 commented on #141
@Riscait
龍之介さん、ありがとうございます..＞＜！
ずっと取り組んでいましたが、なかなか苦戦しています^0^;
同じようにできるようにやってみます^-^🙏

[2019-05-14 21:47] #138 closed, assigned to riscait

[2019-05-14 23:44] riscait commented on #98
StackViewに入れるところまで完了
残タスク: StackViewの属性に適切なものを設定して配置を整える
StackViewにAuto Layoutの制約をつけてSE〜XS Maxで表示を崩れないようにする

以上は新しくissueを作る予定です

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-14 23:49] riscait opened #143 "チェックボックス用のカスタムクラスの中身を実装する"
- Controllersフォルダの中にあるので、Viewsフォルダに移す
- チェックされている状態とチェック前の状態の画像を設定する
チェックボックスが押された時の挙動を設定する
など

検索すれば実装方法が丸々のってる記事があるので、基本その通りにすれば動くと思う

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-15 00:04] eyener3 commented on #143
ありがとうございます^-^
進めていけるようにやってみます😊💡

[2019-05-15 00:21] riscait commented on #143
はい！焦らず1Issueずつ順番にやっていきましょう☺️👍

[2019-05-15 00:23] eyener3 commented on #143
はい^-^！
本当にありがとうございます😿🙏✨

[2019-05-15 01:39] #134 closed, assigned to eyener3

[2019-05-15 12:14] eyener3 commented on #98
ありがとうございますm(._.)m！！

[2019-05-15 15:11] Koki-Nakamura opened #145 "Addボタンをタップすると一時的に保存されるTableViewを実装"
## 概要
Addボタンをタップすると一時的に保存されるTableViewを実装
## 期待値
AddボタンをタップするとTableViewにTextField内の文字が追加される

## タスク内容
- [x] AddtaskTableViewの実装
- [x] TextFieldのIBOutletに修飾子をつける

[2019-05-16 00:55] #137 closed, assigned to Koki-Nakamura

[2019-05-16 13:32] naipaka commented on #42
プロパティ候補に上がっているプロパティで十分だと思います！
ただ一点、一意のIDの用途がいまいちわからなかったのですが、削除したりする時に使う感じでしょうか？？

[2019-05-16 13:51] riscait commented on #42
やばい記憶が…
検索したり、特定したりするのに必要かと思います😊

[2019-05-16 13:53] riscait commented on #42
サーバーにあげて共有するものでもないので、連番でいいのかなと思ってます！

進捗状態ですが、進捗画面でチェックつけてある状態と、本当の？達成済み状態は分けた方が良いのかな？次のサイクルに入った時点で達成済みにする感じかなぁ🤔

[2019-05-17 14:58] naipaka commented on #42
なるほど、検索っていうのはユーザーが使う検索ですか？？取得するときの検索です？？
やっぱりIDから検索した方がいいんですかね🤔

[2019-05-17 15:00] naipaka commented on #42
あー達成の状態分けたほうがいいですかねー、達成日時がチェックしたときの日時で、タスク画面で表示するとき日時も達成日時なら連動しててもいいかなとも思うんですけどどうでしょう？
分けたほうがメリットありそうですかね？🤔
ちなみにデータとは関係ないですが、サイクルの中で終わらなかったときのタスクってどうなるんでしょう…ストックに行く感じかなと勝手に思ってましたが！

[2019-05-17 23:05] riscait commented on #42
１つのタスクを特定したい時、タスクの名前や日付って他のタスクと被る可能性がありますよね？
僕も詳しいわけじゃうまく説明できず(>_<)
http://karoten512.hatenablog.com/entry/2017/11/22/232120
https://www.google.co.jp/amp/s/www.graffe.jp/blog/533/amp/

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-17 23:56] riscait commented on #42
チェックボタンを押したら、進捗は「達成済み」になって達成済み日時も入れて達成済み一覧に表示？
だと、進捗画面に表示するときの条件がないかな？と思いました🤔
進捗画面に表示するか否かはUserDefaultsを使うとか？

確かに！ストックに行くかそのまま次のサイクルに引き継ぐかの2択ですね！
仕切り直した方が良いと思うので「ストックに行く」に賛成です！

[2019-05-18 03:57] naipaka commented on #42
確かに！削除するときとかIDから検索して削除した方がいいですね…！自分のアプリだとtableの列番号から検索して削除してたので考えが及ばなかった…
参考URLまでありがとうございます！

[2019-05-18 04:07] naipaka commented on #42
なるほど。確かに。勝手に「進行中かつ開始した日時が期間内のもの」を表示するものだと思ってましたが、それだと期間を変更したときの事考えたらめんどくさいですね！
進捗状況（進行中、実施済み、ストック）と達成状況（未達成、達成）の２つ項目作りましょう！

[2019-05-18 04:13] naipaka commented on #42
一度整理すると、

- 一意のID
- 名前
- 進捗状態（進行中、実施済み、ストック）
- 達成状況（未達成、達成）
- 作成した日時（タスクを追加した日時）
- 実施済みにした日時
- 期間の開始日時
- 期間の終了日時

ですかね

[2019-05-18 08:50] #141 closed, assigned to eyener3

[2019-05-18 09:17] naipaka commented on #35
ないぱか完了しました！

[2019-05-18 09:36] naipaka commented on #76
スミマセン…
` Cartfile.resolved `があるディレクトリで` $ carthage bootstrap —platform iOS `を打つと

「 No entry found for dependencies ios, —platform in Cartfile.resolved – please run `carthage update` if the dependency is contained in the project's Cartfile. 」

と出てきます。
文に従って` carthage update `しちゃったんですが、あってますか…？
一応最新のmasterブランチで、エラーなくビルドできることは確認できました！

[2019-05-18 10:02] riscait commented on #76
あいなーさんの時と同じエラー文ですね！
@eyener3 の時は確か　`—platform iOS`抜きの `carthage bootstrap `のみでやったような覚えがあります🤔
同じバージョンのフレームワークが導入できていて、エラーが出ていなければ問題ないかと思います！

[2019-05-18 10:09] naipaka commented on #76
そうだったのですね！ありがとうございます！

バージョン違ったので、もう一度 `carthage bootstrap` で再度導入しました！
完了したのでアサイン外します！

[2019-05-18 10:11] naipaka commented on #42
これいらないですかね？？特に使う用途が思いつきませんでした！

[2019-05-18 10:46] naipaka commented on #42
とりあえず一度これでレルムオブジェクトを作成しようと思います！
使っていてここ変えたいなどあればまた話し合いましょう！

- 一意のID
- 名前
- 進捗状態（進行中、実施済み、ストック）
- 達成状況（未達成、達成）
- 作成した日時（タスクを追加した日時）
- 実施済みにした日時

[2019-05-18 10:49] riscait commented on #42
ありがとうございます😊
進捗状態と達成状況ってわかる必要ありますかね？
進捗状態（後でやる・挑戦中・達成見込・達成済み）
で良いのかな？と思いました🤔（どうなんだろ？）

[2019-05-18 10:54] riscait commented on #76
おぉ、成功して良かったです…！
情報共有ありがとうございます😊

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-18 10:55] naipaka commented on #42
あ、確かに分けなくても良いですね！！
達成状況の"未達成"の中に全て進捗状態が含まれてますね:persevere:

以下で作成していきます！
- 一意のID
- 名前
- 進捗状態（進行中、実施済み、ストック）
- 達成状況（未達成、達成）
- 作成した日時（タスクを追加した日時）
- 実施済みにした日時

[2019-05-18 10:57] naipaka commented on #42
あ、確かに分けなくても良いですね！！
達成状況の"未達成"の中に全て進捗状態が含まれてますね、
ちゃんと考えられてなかった…スミマセン😣

では以下で作成していきます！
- 一意のID
- 名前
- 進捗状態（後でやる・挑戦中・達成見込・達成済み）
- 挑戦タスクを追加した日時
- 実施済みにした日時（チェックをつけた日時）

[2019-05-18 10:57] #35 closed, assigned to nobody

[2019-05-19 03:18] #140 closed, assigned to naipaka

[2019-05-23 00:40] riscait opened #148 "CocoaPods 1.7.0へのアップデートと動作確認"
CocoaPods1.7.0へアップデートし、問題なくアプリをビルドできることを確認する

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-23 00:41] riscait opened #149 "UTの追加"
ユニットテストのターゲットを追加し、UTを追加できるようにする

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-24 11:45] #143 closed, assigned to eyener3

[2019-05-24 14:02] #124 closed, assigned to eyener3

[2019-05-24 15:59] Sab-swiftlin commented on #76
対応しました。

[2019-05-24 16:06] Sab-swiftlin commented on #70
@Riscait
画面定義書というのはどこかに用意されているのもでしょうか？
それとも、Sketchのプロトタイプを指しているのでしょうか？

[2019-05-24 16:12] riscait commented on #70
各々の担当が作ろうということになってはいたんですが…Sketchのものしかありませんッ🙋‍♂️

[2019-05-24 16:17] eyener3 commented on #70
わたしもなんだかんだ出来ていませんでした＞＜
開発する上で、大事なことですものね..💡
わたしも、自分なりに考えて、
別の方法で画面定義書、挑戦してみようと思います(＞人＜;)

[2019-05-24 16:21] Sab-swiftlin commented on #70
@Riscait
@eyener3

ありがとうございます！
現状が知りたかっただけなのでそういうことであれば問題ないです！
ドキュメント作るより実装してた方が楽しいと思いますので、追い追いで良いんじゃないでしょうか。笑

[2019-05-24 16:41] eyener3 opened #155 "[進捗画面]Skech以外の画面定義書を作成する"
### 必要性
Skechとは別に画面定義書を作り、メンバーの共通認識にするため

### 期待値
画面定義書を作り、目指している画面操作を誰が見ても明白になること

### タスク内容
- 担当画面の操作をもう一度洗い出す
- モック以外での画面定義書の方法を調べてみる
- 調べた方法で画面定義書を作成する
- 作成したものをGitHubのwikiかどこかに載せる

### その他の情報

- どのツールで行なうか、検討する（wordかskechかXDか、他の何かか）

- 先に、Actionsheetの実装を終わらせてから取り掛かる予定

### 参考URL・画像など

【この方法で作ってみようかな】

https://qiita.com/shio312/items/c94792a056c3fa9e267c

【「仕様書」と「設計書」の違い】

https://wa3.i-3-i.in

[2019-05-24 16:55] eyener3 opened #156 "[進捗画面]チェックボタンのアニメーション"
### 機能の必要性

- 今のままのチェックボックスだと少しなんかさみしい感じがするから

### 実装の期待値

- チェックボタンを押す楽しみ、みたいなユーザー体験を作りたい

### 検討した実装案

- この動画のようなボタンにしたい

https://www.youtube.com/watch?v=S6q5d3RvVY8

（8:30あたりのアニメーション）

### その他の情報

- ボタンのImageを別のモノに変更する可能性あり

### 参考URL・画像・スクリーンショット

[2019-05-25 13:49] #111 closed, assigned to eyener3

[2019-05-25 14:21] riscait opened #158 "[進捗画面]期間変更ボタンで期間を変更したら、UserDefaultsで記憶する"
### 機能の必要性
選択した設定を記憶させるため

### 実装の期待値
Actionsheetで期間が選択された時、
標準ライブラリの機能「UserDefaults」を使って記憶する

### 検討した実装案

### その他の情報

### 参考URL・画像・スクリーンショット

[2019-05-25 14:22] eyener3 commented on #156
カラーを変えてみましたが、
設定が間違えているようなので修正いたします(＞人＜;)

[![Image from Gyazo](https://i.gyazo.com/b2ccdb294425a1a9883125cf06ef29b7.gif)](https://gyazo.com/b2ccdb294425a1a9883125cf06ef29b7)

二つ目のチェックボタンを押すと、
Xcodeに飛んで、エラー文になりました
龍之介さんのファイルでなっていました＞＜
![スクリーンショット 2019-05-25 22 49 55](https://user-images.githubusercontent.com/45029154/58370504-53158880-7f42-11e9-9169-66c01a73017b.png)

![スクリーンショット 2019-05-25 22 57

[2019-05-25 14:44] riscait commented on #156
@eyener3
インデント（字下げ）を見るとわかるのですが、閉じ括弧が足りないのでエラーが出てきたんだと思いますよ👌
この状態だと、checkClicked1の中にcheckClicked2と3、それにviewDidLoadまでもが入っている状態になっていますよね？

括弧にカーソルを合わせると対応した（閉じ・または開き）括弧が光るのでかぞえてみましょう👍
括弧は開いたら閉じる！に要注意です💡

[2019-05-25 14:49] eyener3 commented on #156
@Riscait
龍之介さん、原因究明しながら触ってみたら、
無事、エラー解決しましたー^0^！！
![スクリーンショット 2019-05-25 23 48 44](https://user-images.githubusercontent.com/45029154/58370963-ab9b5480-7f47-11e9-8910-e118731ab0b0.png)

[2019-05-25 15:20] eyener3 commented on #156
ここまで進みました^-^
オレンジと青の枠を消して、タップした後のボタンに色をつけたいなと思います＞＜
[![Image from Gyazo](https://i.gyazo.com/63a65371f81b7096d1c21898dcfdad5f.gif)](https://gyazo.com/63a65371f81b7096d1c21898dcfdad5f)

[2019-05-25 15:49] riscait commented on #156
すごい、動きと色がつくと面白いですね♪

[2019-05-25 15:50] eyener3 commented on #156
はい、わくわくします(*´∀`)♪

[2019-05-25 16:40] riscait opened #160 "IPPOモデルでプライマリーを設定する"
### バグの概要
#147
プライマリキーに設定するためのidプロパティは用意してあったが、
idをプライマリキーとして登録するためのメソッドが不足していたため、プライマリキーがない状態となっていた
（レビュー漏れでした！）

### 本来の期待動作
IPPOにプライマリキーとしての"id"が存在すること
RealmObjectAccesible のめメソッドを使ってwriteできること

### 参考スクリーンショット・画像・動画・URL
https://realm.io/docs/swift/latest#primary-keys
[code]

[2019-05-26 13:18] Sab-swiftlin opened #162 "UserDefaultsへのアクセサクラスを作成する"
### 必要性
各クラスからUserDefaultsに直接キーを指定してアクセスする方法だと、タイポによる不具合が起こりやすく、可読性も低い。
また、保存している値も設定画面に最適化されているものがある為、全体最適としたい。

### 期待値
RealmObjectAccessibleのように、UserDefaultsを操作する専用クラスを作成し、当該クラスを用いて設定項目などの保存、読出が出来る事。
保存に使うキーは都度文字列を入力させる事はせず、enumなどで定義したものを使用する事。
また、保存する内容も”日”などの単位を省くなど、将来的に多言語対応する事になっても困らないように言語設定に依存しない形にしたい。

### タスク内容

### その他の情報

### 参考URL・画像など

[2019-05-26 13:24] Sab-swiftlin opened #163 "RealmObjectAccessibleのプライマリキーの型修正"
### 必要性
現在IPPOモデルにはString型でidを定義しているが、RealmObjectAccessibleのupdateメソッドなどで引数として渡すプライマリキーはInt型になっている為、型を統一したい。

### 期待値
プライマリキーに型がプロジェクト全体で統一された状態

### タスク内容

### その他の情報

### 参考URL・画像など

[2019-05-26 13:38] Sab-swiftlin opened #164 "その他画面のTypo修正"
### バグの概要
その他画面の最下部にある開発者の情報表示にTypoがありそうなので、修正する

### 再現方法
1.アプリを起動
2.その他画面に遷移

### 本来の期待動作
`Stepippo（v1.0.0）Developed by やさしい会 iOSチーム` と表示される

### その他
誤解でしたらクローズお願いします。

### 参考スクリーンショット・画像・動画・URL
![Simulator Screen Shot - iPhone Xʀ - 2019-05-26 at 22 33 09](https://user-images.githubusercontent.com/50907353/58382575-f8923000-8006-11e9-8c86-fe7d7b43634a.png)

[2019-05-26 13:40] riscait commented on #164
ほんとだ！すてっぴぽになってますね！

[2019-05-26 13:44] Sab-swiftlin commented on #164
お手軽Issueなので、どなたかにサクッとFIXして頂けそうですね！

[2019-05-26 14:10] Sab-swiftlin opened #165 "iPhoneSEのその他画面の表示修正"
### バグの概要
iPhoneSEなどの4インチ端末で表示した際、「最初に表示するIPPO」の表示が収まりきらずに省略されている。

### 再現方法
前提条件: iPhoneSEでアプリを起動
1.アプリを起動
2.その他画面に遷移

### 本来の期待動作
一番上のセルに`最初に表示するIPPO`と表示される

### 発見した時の環境
   - デバイス情報: iPhoneSE シミュレーター
   - OSバージョン:  12.2
   - アプリのバージョン: v1.0.0

### 参考スクリーンショット・画像・動画・URL
![Simulator Screen Shot - iPhone SE - 2019-05-26 at 22 59 28](https://user-images.githubusercontent.com/50907353/58382934-73f5e

[2019-05-26 15:27] #71 closed, assigned to Sab-swiftlin

[2019-05-26 16:32] Sab-swiftlin opened #167 "ストック済みIPPOリスト画面のセクション分け"
### 機能の必要性
ストック済みIPPOリスト画面の表示にセクション分けが必要か、必要ならどうグルーピングするかを検討したいです。
皆様ご意見お願い致します。
既に決まっている内容がありましたらそちらもご教示いただけますと助かります。
よろしくお願い致します。

### 参考URL・画像・スクリーンショット
![Simulator Screen Shot - iPhone Xʀ - 2019-05-25 at 23 57 05](https://user-images.githubusercontent.com/50907353/58384694-bde8c180-801f-11e9-98d1-ee4cf31bb672.png)

[2019-05-27 11:48] #156 closed, assigned to eyener3

[2019-05-27 19:36] eyener3 commented on #167
セクションわけ、あった方がタスク管理しやすくなるでしょうかね..🤔💡
分けるとしたら、時期（日時？）とかジャンルとかでしょうか..
特に決まっていなかったのと、画面担当者が作りたい感じで進めてもいいということになっているので、こうだといいなぁと思う感じでいいような気もします^0^！

[2019-05-27 20:19] eyener3 commented on #113
残り期限や完了していないタスクの通知もあるといいなと思いました^0^💡

[2019-05-27 22:49] eyener3 commented on #6
こちら設定いたしましたのでCloseいたします^-^💡
Topicsは自由に追加してくださいねっ♪

[2019-05-27 22:49] #6 closed, assigned to eyener3

[2019-05-27 23:10] riscait commented on #6
ありがとうございます！

[2019-05-28 04:04] Sab-swiftlin commented on #167
ありがとうございます！
なるほど、結構自由度高いんですね！
では現状は特にセクション分けせず、ストックしたのが新しいものから古いものの順で並ぶようにしておこうと思います。

[2019-05-28 13:25] naipaka commented on #160
すみません。。。

をどう実現したらいいかがわかりません！

プロトコルのメソッドの使い方がまだわかっていません。。すみません🙇‍♂️
インスタンス化してメソッドを呼び出すものだと思っていました。。

[2019-05-28 14:02] riscait commented on #160
@naipaka
こんな感じで、class定義かextensionで: の後に書けば使えるようになります🙆‍♂️！
https://github.com/yasasii-team/Stepippo-iOS/pull/154#issuecomment-495931417

[2019-05-28 14:11] naipaka commented on #160
いつもリプライが早くて助かります😭
試してみます！

[2019-05-28 14:14] naipaka commented on #160
確認できました！
![image](https://user-images.githubusercontent.com/45661924/58485085-53aa5b00-819e-11e9-987a-67e40a612863.png)

[2019-05-28 14:17] riscait commented on #160
おぉ良かった✨

[2019-05-28 14:32] #160 closed, assigned to naipaka

[2019-05-31 08:24] #11 closed, assigned to eyener3

[2019-05-31 09:48] #155 closed, assigned to eyener3

[2019-05-31 10:24] riscait opened #173 "進捗画面: 画面を表示するタイミングでUserDefaultsに保存してある「期間」を読み込む"
print関数で保存してある「期間」が確認できればOK！

ラベルやプログレスバーへの反映は別タスクで行う

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-31 10:31] Sab-swiftlin commented on #88
タスク一覧画面完了しました！
本Issueは閉じますか？

[2019-05-31 10:33] riscait commented on #88
あ、そうですね✨
閉じます👌

[2019-05-31 10:33] #88 closed, assigned to Sab-swiftlin

[2019-05-31 18:21] eyener3 commented on #148
こちら、やってみようかなと思ったのですが、
アップデートしてビルドエラーがなければ出来たことになるのでしょうか？^-^
podfileは、このようになっています..💡
![スクリーンショット 2019-06-01 03 10 32](https://user-images.githubusercontent.com/45029154/58725756-e7885b00-841a-11e9-8278-e3f834e117f4.png)
![スクリーンショット 2019-06-01 03 18 57](https://user-images.githubusercontent.com/45029154/58726180-04715e00-841c-11e9-9646-7396f86ee12b.png)

[2019-05-31 23:26] Sab-swiftlin commented on #148
CocoaPodsって使ってるんでしたっけ？？

[2019-06-02 13:15] riscait commented on #148
すみません、このプロジェクトでは使ってないですね…！
完全に脊髄反射でIssue作成していました。。

@eyener3
対応ありがとうございます！🙏
アップデート自体はしておいた方が良いことだとは思いますが、お手を煩わせてしまいました🙇‍♂️

このIssueはCloseします🙇‍♂️

[2019-06-02 13:15] #148 closed, assigned to nobody

[2019-06-02 13:53] #70 closed, assigned to Sab-swiftlin

[2019-06-02 14:51] #72 closed, assigned to Sab-swiftlin

[2019-06-03 04:04] eyener3 commented on #155
![スクリーンショット 2019-06-03 12 59 14](https://user-images.githubusercontent.com/45029154/58775324-d5b3dd00-85ff-11e9-8371-7bbce0af6f10.png)

[2019-06-03 11:54] #158 closed, assigned to eyener3

[2019-06-04 09:58] riscait commented on #113
その通知いいですね！
最初は、通知ボタン（🔔）用意しておいてオンかオフから切り替えられるだけで実装とか？🤔

[2019-06-04 10:24] eyener3 commented on #113
任意で切り替えられるのいいですね^-^
よくToDoアプリでみかけるリマインダーみたいなものでしょうかね
それを一括でアリかナシかにするような。

完了できなかったタスクが一覧に戻りました、
みたいな通知もあるといいのでしょうかね

あとは、通知になるのか微妙ですが、
「合計〇〇回、挑戦をしました！」とか挑戦した回数の合計が見えるのもいいかもです^-^

[2019-06-05 19:56] eyener3 opened #176 "進捗画面: 残り日数をLabelに表示する"
### 機能の必要性

- 保存されたデータに基づき、ユーザーが視覚的情報を得られるようにする

### 実装の期待値

- ユーザーが設定した期間に基づき、「残り〇〇日」のLabelに反映される
![Screen Shot 0001-06-06 at 3 14 37 AM](https://user-images.githubusercontent.com/45029154/58985871-3ff29a80-8817-11e9-916e-0fe271391246.png)

[2019-06-05 20:02] eyener3 commented on #176
うまくIssueのタイトルがつけられるようになりたいものです..(T . T)
このあと、達成数のLabel、ProgressBar（期間・達成数）の2つもIssueを立てる予定ですが、
Labelという括りで「残り日数」「達成数」を1つのIssueにまとめるべきでしょうか(＞人＜;)..

[2019-06-05 23:36] riscait commented on #176
タイトル難しいですよね〜(＞＜)
実装する内容は違うので、別々のissueで良いかと思います！
その方が実装もレビューもしやすそう💡

[2019-06-06 00:09] eyener3 commented on #176
ありがとうございます！
Issue、分けますね^-^💡
タイトルについて、「もっとこう表現した方が理解しやすいかも！」などありましたら、
ぜひ、助言いただけると有難いです..(＞人＜;)

[2019-06-06 00:30] Sab-swiftlin opened #177 "カラーテーマを決めてデザインを統一する"
### 必要性
現状各画面で色の使い方が異なるので、アプリ全体で統一する

### 期待値
ベースカラー、メインカラー、アクセントカラーを決めて、統一されたデザインとする

### タスク内容
- [ ] 色を決める
- [ ] アセットに定義する
- [ ] 色を使っている部分を定義したものに修正

### その他の情報
使用するカラーは全てアセットに定義した方が間違い難い？
SwiftGenやR.Swiftは一旦使わない

### 参考URL・画像など
ColorAsset
https://dev.classmethod.jp/smartphone/iphone/xcode-9-asset-catalogs-support-named-colors/

デザイン
https://baigie.me/sogitani/2016/12/color-basic/
https://creive

[2019-06-06 00:36] riscait commented on #177
ありがとうございます！いいですね！assets使っていきましょう〜☺️

[2019-06-06 00:41] riscait commented on #176
承知しました(๑•̀ㅂ•́)و✧

なんと表示するのか先に決めておいた方が実装とレビューしやすいかもですね👌
期間設定が毎日の時→現在時刻と〇〇との日付差分を計算して「残り△時間」と表示
    例: 今21時なら、24時まで残り3時間なので、「残り3時間」と表示する
毎週の時→
毎月の時→
みたいな🤔

[2019-06-06 01:57] #173 closed, assigned to eyener3

[2019-06-06 18:35] eyener3 commented on #176
@Riscait
ありがとうございます^-^
例のところがタイトルになるイメージなのでしょうか？
１つのIsseuで、毎日、毎週、毎月の3つに対する、差分計算と表示を実装することになるのでしょうか？^-^

[2019-06-06 19:11] eyener3 opened #178 "進捗画面：残り日数（設定期間との差分）を算出しProgressBar（期間）に表示する"
### 機能の必要性
その機能がなぜ必要なのかの明確で簡潔な説明

### 実装の期待値
その機能によってどうなってほしいかについての明確で簡潔な説明

### 検討した実装案
検討した実装案があれば記述

### その他の情報
機能の提案に関するその他の情報

### 参考URL・画像・スクリーンショット
関連するURLやスクリーンショット、その他画像などがあればこちらに追加してください

[2019-06-06 19:16] eyener3 opened #179 "進捗画面：達成数に応じてProgressBar（達成数）に表示する"
### 機能の必要性
その機能がなぜ必要なのかの明確で簡潔な説明

### 実装の期待値
その機能によってどうなってほしいかについての明確で簡潔な説明

### 検討した実装案
検討した実装案があれば記述

### その他の情報
機能の提案に関するその他の情報

### 参考URL・画像・スクリーンショット
関連するURLやスクリーンショット、その他画像などがあればこちらに追加してください

[2019-06-06 19:21] eyener3 opened #180 "進捗画面: 達成数をLabelに表示する"
### 機能の必要性
達成数の進捗を可視化する

### 実装の期待値
RealmでIPPOを取得して表示させる

### 検討した実装案
0/0,
0/1, 1/1,
0/2, 1/2, 2/2,
0/3, 1/3, 2/3, 3/3
⬆︎上記、10パターンの表示を目指す💡

### その他の情報
機能の提案に関するその他の情報

### 参考URL・画像・スクリーンショット
![Screen Shot 0001-06-16 at 9 06 53 PM](https://user-images.githubusercontent.com/45029154/59579285-1aaf3780-9107-11e9-9181-2642a3b0d7d8.png)

[2019-06-06 22:45] riscait commented on #176
どちらでも大丈夫ですが、1つのIssueで良いかと思います🙆‍♂️

[2019-06-06 22:46] riscait commented on #180
4つのIssueの中でこれが一番簡単そうですね😊

[2019-06-06 22:56] riscait opened #181 "[進捗画面]挑戦中・達成見込のIPPOを取得できる"
### 機能の必要性
IPPOを表示するためにRealmを使ってデータベースを検索する

### 実装の期待値
statusが挑戦中or達成見込のIPPOを取得してprintで確認できる

### 検討した実装案
RealmObjectAccessibleを採用してデータを取得する

### その他の情報

### 参考URL・画像・スクリーンショット

[2019-06-06 23:03] eyener3 commented on #176
@Riscait
ありがとうございます(*´∀`)

[2019-06-06 23:04] eyener3 commented on #180
ありがとうございます^-^💡

[2019-06-06 23:24] riscait opened #182 "検索して取得したIPPOを進捗画面に表示する"
#181 で取得した0〜3個のIPPOを、取得したIPPOの数だけチェックボックスとボタンのセットで表示する

達成見込みステータスのIPPOの修飾は別Issueで行う

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-06 23:29] riscait opened #183 "進捗画面: 達成見込みのIPPOはチェック済みにして表示する"
#182 で表示したIPPOのうち、ステータスが「達成見込み」のものは、チェックボックスをチェック済み状態にして表示する

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-06 23:36] riscait opened #184 "進捗画面: ステータスが「達成見込み」のものはIPPO名の文字を装飾して表示する"
### 機能の必要性
その機能がなぜ必要なのかの明確で簡潔な説明

### 実装の期待値
#182 で表示したIPPOのうち、ステータスが「達成見込み」のものはIPPO名の文字を薄くして表示する（要検討）

### 検討した実装案

### その他の情報

### 参考URL・画像・スクリーンショット

[2019-06-07 00:19] riscait opened #185 "[タスク選択画面]Doneボタンを押して、新規IPPOをデータベースに登録できる"
### 機能の必要性
挑戦するIPPOを登録することができる

### 実装の期待値
Addボタンで一時追加してあるIPPOをDoneボタンで確定し、
RealmでDBに登録できる

登録したら進捗画面へ戻る？

### 検討した実装案
IPPOデータモデルとして登録する

### その他の情報

### 参考URL・画像・スクリーンショット

[2019-06-07 00:23] riscait opened #186 "[タスク選択画面]後でやるボタンでIPPOを後でやるIPPOとして登録する"
### 機能の必要性
その機能がなぜ必要なのかの明確で簡潔な説明

### 実装の期待値
後でやるIPPOとしてRealmでDBに登録でき、StockedIPPOVCで確認できる

### 検討した実装案

### その他の情報

### 参考URL・画像・スクリーンショット

[2019-06-08 12:11] Koki-Nakamura commented on #186
すみません、このタスクの意味がわかりません。
ご都合の良いタイミングで共有して頂けませんか？

[2019-06-08 12:17] riscait commented on #186
Addボタン隣のボタンでタスクのステータス（進捗状況）を「後でやる」にして保存します。

[2019-06-08 12:23] Koki-Nakamura commented on #186
ああ〜なるほど！w
StockボタンでStockするということですね！
ありがとうございます。

[2019-06-08 12:51] riscait commented on #186
はい！「Stockという呼び方がわかりにくい」と判明してからはなるべく使わないようにしてたので伝わりづらくなっちゃいましたね🙇‍♂️

[2019-06-08 13:15] riscait opened #187 "UserDefaultsで保存する基準の曜日をStringで保存していたがIntにする"
あまりよく考えずにとりあえず「月曜日」などと文字列で保存してしまっていたのですが、
やはり、言語に依らないIntで保存しないと使うときに面倒だなと思いました😢

Sunday = 1
Monday = 2
...のようにIntに変えようかと思うのですがどうでしょうか？

[2019-06-08 13:18] riscait commented on #187
@Sab-swiftlin
すでに実装しているSabさんの所にも影響出てしまうのですがいかがでしょう？🙇‍♂️

[2019-06-08 13:49] Sab-swiftlin commented on #187
#162 でもそこは変更しようと思っていたところなので問題ありません！

[2019-06-09 03:35] #164 closed, assigned to nobody

[2019-06-09 11:19] #167 closed, assigned to Sab-swiftlin

[2019-06-09 22:29] #187 closed, assigned to riscait

[2019-06-12 14:07] minmin0530 commented on #35
ヨシキ完了しました！

[2019-06-12 14:30] minmin0530 commented on #76
対応しました！

[2019-06-12 23:46] riscait commented on #76
ヨシキさん、アサインしておきましたー！

[2019-06-13 01:40] #145 closed, assigned to Koki-Nakamura

[2019-06-14 00:38] riscait opened #195 "CI（継続的インテグレーション）の比較検討"
iOSアプリでも無料で使えるものがあればそれを使いたい。

やさしい会アカウントを取得して使う。

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-15 02:13] riscait opened #199 "タスク名を入力していない状態でStock, Addボタンを押した時に警告を出す"
### 機能の必要性
からの名前のタスクは追加させないため

### 実装の期待値
からの状態でボタンを押すと、警告を出して追加できない

### 検討した実装案
Alertなどを表示する

### その他の情報

### 参考URL・画像・スクリーンショット

[2019-06-16 00:38] #186 closed, assigned to minmin0530

[2019-06-17 09:51] #176 closed, assigned to eyener3

[2019-06-19 11:21] minmin0530 opened #203 "後でやる（Stock）からIPPOを削除出来るようにする"
### 機能の必要性
IPPOがStockに溜まり過ぎて邪魔にならないようにするため

### 実装の期待値
IPPOがStockから削除され、Realmからも削除される

### 検討した実装案

### その他の情報

### 参考URL・画像・スクリーンショット

[2019-06-19 13:40] minmin0530 opened #204 "IPPOが３つ溜まっている場合に、もう１つIPPOをAddしようとするとアラートを出す"
### 機能の必要性
使用する人になぜIPPOを追加出来ないかを通知する。ユーザビリティの向上。

### 実装の期待値
IPPOを３つ以上追加しようとするとアラートが出し、IPPOを追加しない。

### 検討した実装案

### その他の情報

### 参考URL・画像・スクリーンショット

[2019-06-20 02:07] Sab-swiftlin commented on #203
この機能は既に実装済みかと思います！

[2019-06-21 23:38] minmin0530 commented on #203
タスク選択画面からは削除できますが、タスク一覧画面のStockからは削除できない状態です。
なので、このIssueを立てました。
@Sab-swiftlin

[2019-06-22 01:04] Sab-swiftlin commented on #203
なるほど！
実はStockedIPPOVCでは左にスワイプで削除ボタンが出るように実装されているのですが、ListedIPPOVCにスワイプアクション持ってかれちゃってますね。
そこの修正をする感じになりそうですね！
ありがとうございます！

[2019-06-22 01:32] riscait commented on #203
なるほど、気がつかなかった！

[2019-06-22 19:00] #180 closed, assigned to eyener3

[2019-06-23 12:45] #203 closed, assigned to minmin0530

[2019-06-27 15:43] Sab-swiftlin opened #208 "アプリの要件を整理する"
StepIPPOアプリの内容を整理する。

## アプリの目的（ちょっと大袈裟に書いてます）
全ての人の挑戦（一歩）を応援するための挑戦管理アプリ
このアプリを通して、せっかく踏み出した一歩を無駄にしない、挫折のない世の中にしたい

## アプリの概要（ここもう少しはっきりさせたいです）
〇〇に〇〇を〇〇して〇〇できる。
ターゲットは誰か？
どうやって挑戦を応援するのか？
→モチベーションを維持させる？思考整理を助ける？リマインダー？記録帳としての役割？

## 機能要件（一旦現状のものを置いてます）
- 挑戦したい事を自由入力できる
- 入力した挑戦は「ストック」「挑戦中」「達成見込み」「達成」というステータスを設定できる
- 一度に挑戦中ステータスを設定できるのは最大3つまでとする
- 挑戦中のものには終了期限を設定できる
- 記録されている挑戦は、各ステータス毎に分けて閲覧できる
-

[2019-06-27 15:48] Sab-swiftlin commented on #208
とりあえずIssue立てました。
内容はメンバーで話し合って変更していければと思っています。
何かあればなんでも良いのでコメントください。

[2019-06-27 16:34] eyener3 commented on #208
さぶさん、ありがとうございます！

期間の設定を、タスク別で決められた方がいいのかなぁと思いました。
一回タスク3つと期間1ヶ月を設定した場合、1ヶ月間から動かせない感じがイメージにあって、
もう少し期間設定に関して、挑戦のしやすさを作れたらいいなと思っています。

それか、期間という概念を無くしてしまうのもアリなのかなぁと。
ユーザーが最終的にどうなって欲しいのかという部分を、ちょっと箇条書きの時系列で挙げてみますね。
・とにかく思い浮かんだやりたいことをどんどん挑戦タスクとして書きためていく
・それを日々こなしていく
・挑戦を達成した実績がアプリ内に積み上がっていく
・いろんな挑戦を達成できていってるなという感覚を得てもらう
・その感覚がその人の自信や勇気になって次の行動につながっていく
・挑戦をし続けるマインドを手に入れてループが起こる

という、誰かのできないかも..という気持ちか

[2019-06-28 03:34] Sab-swiftlin commented on #208
あいなーさんありがとうございます！
コメント頂いた内容で大分イメージが伝わりました。
このアプリでは自己肯定感を育むのが大事なんですね。

ゲーミフィケーションとかはすごく良いと思います！

あとはメインユーザーとしたい属性をある程度決めておきたいですね。
とりあえず年代、性別くらいが決まれば嬉しいです！

[2019-06-28 17:12] eyener3 commented on #208
メインユーザーの属性について、いま一度考えてみました。
「いままで挑戦することをなんとなく避けてきた、28歳〜33歳くらいの男性」
がイメージに浮かびました。

理由としては、
・挑戦することが習慣になっていない場合、新たに挑戦することへのハードルを感じる年代なのではないか
・2年間なにかを真剣に取り組んだら人は変われると信じているため、30歳までの2年、35歳までの2年に該当する層を選んでみた

ということがあります。

でも、もっといいターゲット層もあるのかなと感じるところもゼロじゃないです^-^
28~33歳の方々が、アプリを通して挑戦の後押しを受けたいという心理になるのかどうか、そこの自信があまりないです^^;

[2019-06-29 01:51] Sab-swiftlin commented on #208
なるほど、ちょうど僕ら世代ですね！
今回は商用でもなく、事前のリサーチとかもないのでターゲットは決めの問題だと思います！
なので28～33の男性が使うイメージで作っていきましょうか！
僕は自分が使うイメージになるのでやり易いですね☺️

[2019-06-29 02:24] minmin0530 commented on #208
タスク選択画面では、Addボタンを押すと何個でもIPPOが溜まっていって、一番下のDoneボタンで一括決める感じではなく、各IPPOにそれぞれDoneボタンかchallengeボタンを設けて、それぞれのDoneボタンを押すとIPPOを１つずつ進捗画面に積んでいく感じでしょうか。

[2019-06-29 07:13] Sab-swiftlin commented on #208
@minmin0530
元々の仕様ですとAddボタンを押すと3つまでIPPOがたまっていって、一番下のDoneボタンで一括で決める動作だったと思います。
ただ、この辺も見直しても良いかもですね！

[2019-06-29 12:00] eyener3 commented on #208
ありがとうございます😊
よろしくお願いします^-^！

[2019-06-29 12:01] eyener3 commented on #208
見直し、アリだと思います😊👍

[2019-06-29 14:49] #163 closed, assigned to riscait

[2019-06-29 15:13] Sab-swiftlin commented on #208
@eyener3 もともと挑戦中にできる最大数を3つにしていたのは何か理由があったのでしょうか？？

[2020-06-18 12:00] #195 closed, assigned to nobody

[2020-06-18 12:00] #199 closed, assigned to minmin0530

[2020-06-18 12:01] #101 closed, assigned to Koki-Nakamura

[2020-06-18 12:01] #91 closed, assigned to Koki-Nakamura

[2020-06-18 12:01] #76 closed, assigned to minmin0530, yamatatsu10969

[2020-06-18 12:01] #113 closed, assigned to nobody

[2020-06-18 12:02] #149 closed, assigned to nobody

[2020-06-18 12:02] #181 closed, assigned to eyener3

[2020-06-18 12:02] #182 closed, assigned to eyener3

[2020-06-18 12:02] #183 closed, assigned to eyener3

[2020-06-18 12:02] #184 closed, assigned to eyener3

[2020-06-18 12:02] #185 closed, assigned to minmin0530

[2020-06-18 12:02] #104 closed, assigned to naipaka

[2020-06-18 12:03] #112 closed, assigned to eyener3

[2020-06-18 12:03] #75 closed, assigned to nobody

[2020-06-18 12:04] #60 closed, assigned to nobody

[2020-06-18 12:04] #57 closed, assigned to riscait

[2020-06-18 12:04] #55 closed, assigned to riscait

[2020-06-18 12:04] #46 closed, assigned to riscait, stmtk1, Koki-Nakamura, yamatatsu10969, eyener3, naipaka

[2020-06-18 12:04] #47 closed, assigned to nobody

[2020-06-18 12:04] #49 closed, assigned to nobody

[2020-06-18 12:04] #53 closed, assigned to riscait

[2020-06-18 12:04] #54 closed, assigned to riscait

[2020-06-18 12:05] #4 closed, assigned to riscait, stmtk1, yamatatsu10969, eyener3, naipaka, Sab-swiftlin

[2020-06-18 12:05] #19 closed, assigned to riscait, stmtk1, yamatatsu10969, eyener3, naipaka, Sab-swiftlin

[2020-06-18 12:05] #42 closed, assigned to naipaka